[2019-03-18 18:15] KennyTzeng opened #530 "Windows disass and lift issues"
Hi, I have build and installed mcsema on my Windows 10 successfully, but I found these 2 problems:

+ like [Using McSema on Windows #497](https://github.com/trailofbits/mcsema/issues/497), `The filename, directory name, or volume label syntax is incorrect.` bug.
[code]
but if I start IDA in interactive mode, it is okay, so what thing does `mcsema-disass` actually do? Can I just use IDA in interact

[2019-03-21 20:56] vanhauser-thc opened #531 "Ghidra as CFG tool"
As it was pointed out in other issues, IDA Pro is expensive, but a headless Binary Ninja is not much cheaper either.

I would hope dyninst is finally getting in here (the patching is fickle, but the CFG is fine in my experience).

But how about Ghidra? its free, open source, CFG is good, runs everywhere where a current java is available - maybe it makes sense to move completely there?

(also as I

[2019-03-22 14:28] Aiethel commented on #517
Was fixed by #522

[2019-03-22 14:28] #517 closed

[2019-03-23 16:13] pgoodman commented on #520
We would need to implement a 32-bit runtime for McSema windows. We don't yet have this feature, though something old is partially implemented here: https://github.com/trailofbits/mcsema/blob/master/mcsema/Arch/X86/Runtime/print_PE_32_windows.cpp

[2019-03-23 16:14] pgoodman commented on #515
Closing for now.

[2019-03-23 16:14] #515 closed

[2019-03-23 16:15] pgoodman commented on #499
@madscientist159 Can you share libMst.a?

[2019-03-23 16:16] #483 closed

[2019-03-25 00:37] jberryman commented on #488
I'm not actively playing with mcsema at the moment, but I wonder whether making this an IDA plugin would have it work with https://github.com/pfalcon/ScratchABit . Relevant to #515

[2019-04-05 22:11] weiwang999 opened #535 "Failed to locate the idat64 executable! Will not test CFG recovery"
when I executed command : cmake ..
there is an error as below.
IDAT64_PATH is not defined and MCSEMA_PREBUILT_CFG_PATH is not defined (use
  -DMCSEMA_PREBUILT_CFG_PATH=<path>)

export IDAT64_PATH=/home/weiwang99/idafree-7.0

[2019-04-05 22:31] pgoodman commented on #535
It's unlikely that the free version of IDA Pro will work, unless you've got one of their academic licenses (I don't know if anyone has tried this). If you don't have an IDA Pro license, or a Binary Ninja license, then there is a branch with DynInst support that may work for you.

[2019-04-05 22:31] #535 closed

[2019-04-05 22:32] pgoodman commented on #531
You can run mcsema-disass on Windows, and run mcsema-lift in WSL or Linux. It doesn't matter where the CFG comes from.

[2019-04-05 22:33] pgoodman commented on #531
One way to run mcsema-disass directly is something like:

[code]

[2019-04-06 19:30] weiwang999 opened #536 "fail to find the ABI_exceptions_x86.bc"
when I ran the  test_suite_generator, I encountered a problem

 x Failed to locate ABI: abi_library_exceptions_x86 [looked in: /home/weiwang99/mcsema-ve/share/mcsema/4.0/ABI/linux/ABI_exceptions_x86.bc]

actually, I didn't find this file /home/weiwang99/mcsema-ve/share/mcsema/4.0/ABI/linux/ABI_exceptions_x86.bc in my machine.

[2019-04-10 23:39] weiwang999 opened #537 "compiler error"
weiwang99@jude:~/mcsema-ve$ remill-clang-4.0 -rdynamic -O3 -o helloWorld.new helloWorld.bc /usr/local/lib/libmcsema_rt64-4.0.a -llzma
warning: overriding the module target triple with x86_64-unknown-linux-gnu [-Woverride-module]
1 warning generated.
/tmp/helloWorld-149935.o: In function `sub_4029d5___stdout_write':
helloWorld.bc:(.text+0x14c5): undefined reference to `__remill_async_hyper_call'
/t

[2019-04-10 23:46] pgoodman commented on #537
What you need is a runtime that implements the intrinsics that are being called. The McSema 64-bit ELF runtime has such an implementation. It's something like `libmcsema_rt64.a`, and it needs to be linked in.

[2019-04-10 23:51] weiwang999 commented on #537
could you pls tell me how to add this link?
I have no idea of how to do it

[2019-04-11 00:04] pgoodman commented on #537
Oh you were linking in the runtime! Aha, I just realized it's a `__remill_async_hyper_call`. This suggests that the actual code your lifting is doing some "raw" syscalls or other low level instructions (e.g. `syscall`, `sysenter`, maybe an `iret`, far calls/jmps etc.). We don't have the `__remill_async_hyper_call` implemented in the McSema ELF. You can try to create your own implementation, though

[2019-04-11 00:10] weiwang999 opened #538 "mcsema lift abnormal"
weiwang99@jude:~/mcsema-ve$ mcsema-lift-4.0 --os linux --arch amd64 --cfg helloWorld.cfg --output helloWorld_wwei.bc
E0410 20:09:31.332475  4307 Function.cpp:370] Adding missing block 4006e6 in function sub_4006ae___libc_start_main as a tail call to sub_4006e6___init_ssp
E0410 20:09:31.360287  4307 Function.cpp:837] Block 4030ef has no terminator, and instruction at 4030f4 is not a local no-return

[2019-04-11 00:16] pgoodman commented on #538
Most of the times these are just symptoms of the disassembler not recognizing something. If it doesn't crash with a `CHECK` failure, then bitcode has been produced. You can look at the reported addresses in the disassembly log, or in your disassembler, to try to make sense of what McSema was doing, but often enough these errors can be ignored.

[2019-04-11 00:16] #538 closed

[2019-04-11 15:06] weiwang999 opened #539 "The version of IR generated by mcsema"
I found the IR generated by mcsema is LLVM4.0.1
can the IR version be converted to LLVM3.8.0?

[2019-04-11 17:19] pgoodman commented on #539
Delete your `remill-build` directory, and re-run Remill's build.sh script, with the addition of `--llvm-version 3.8`

[2019-04-11 17:19] #539 closed

[2019-04-12 11:59] weiwang999 opened #540 "link error"
weiwang99@jude:~/manual$ remill-clang-4.0 -static -o wei helloWorld_x86_64.o /usr/local/lib/libmcsema_rt64-3.7.a abort.o -nostdlib -lm
/usr/bin/ld: warning: cannot find entry symbol _start; defaulting to 0000000000400150
then I executed the command
weiwang99@jude:~/manual$ remill-clang-4.0 -static -o wei helloWorld_x86_64.o /usr/local/lib/libmcsema_rt64-3.7.a abort.o -nostdlib -lc --entry sub_4001

[2019-04-12 12:36] weiwang999 opened #541 "trace a start process with mcsema"
I wonder if there is an introduction about the initialization of remill-clang-4.0?
because I want to trace the process

[2019-04-12 14:20] weiwang999 opened #542 "bitcode from AArch64 and run it on x86-64"
Compiling bitcode back to runnable programs
It’s finally time to make the magic happen — we’re going to take bitcode from an AArch64 program, and make it run on x86-64. We have conveniently ensured that a Clang compiler is installed alongside McSema, and in such a way that it does not clash with any other compilers that you already have installed. Here’s how to use that Clang to compile the lifted

[2019-04-12 16:04] weiwang999 opened #543 "dynamically linked vs statically linked supported by mcsema"
I found a very weird problem that mcsema just supports the dynamically-linked binary lift and it doesn't do for statically-linked binary. is it true?

[2019-04-12 18:02] pgoodman commented on #540
Does the following not work?

[code]

[2019-04-12 18:14] pgoodman opened #544 "Make it so that Runtime.cpp can be built to bitcode regardless of asm stub support"

[2019-04-12 18:57] pgoodman commented on #542
The bitcode is itself a little "specialized emulator" for the program. As long as the endianness and pointer sizes match, and as long as the bitcode was lifted with `--explicit_args` and doesn't do any really "interesting" things (e.g. `cpuid`), then most times, compiling the bitcode to target a different architecture "just works".

[2019-04-12 18:57] #542 closed

[2019-04-12 19:01] pgoodman commented on #543
Maybe. You can try adding an additional symbol file [1] that specifies names for things like `_start`, `main`, make sure that `main` is the `--entrypoint`, and possibly add stuff to the exclude list [2]. That might achieve the desired effect. Please respond back with progress, possibly a log from mcsema-disass.

[1] https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/get_cfg

[2019-04-12 19:02] pgoodman opened #545 "Shared disass functionality (e.g. exclude list)"
Things like the default list of symbols to exclude [1] should be shared across disassembly engines. Perhaps these belong in a file whose name is default-specified as a command-line argument.

[1] https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/get_cfg.py#L1362

[2019-04-12 19:04] pgoodman commented on #541
remill-clang-4.0 is just another name for clang-4.0, the compiler. It is provided so that, for every install of remill-lift-M.m and mcsema-lift-M.m, you have a compatible remill-clang-M.m.

I am not sure what you are asking. Can you be more specific?

[2019-04-12 20:45] weiwang999 commented on #543
I don't know how to add those additional symbol files

[2019-04-13 12:01] Aiethel opened #546 "Explicit_args_count 0 crashes"
Lift with `--explicit_args_count 0` crashes.

[2019-04-13 12:02] Aiethel opened #547 "Return type of main function"
Currently main returns `i64` however the correct type should be `i32`.

[2019-04-13 22:08] weiwang999 commented on #543
"--syms",
      type=argparse.FileType('r'),
      default=None,
help="File containing <name> <address> pairs of symbols to pre-define."

what the symbols are? how to get the name and address of those symbols?
another thing is how to store <name> <address> as a pair in file ? is there any delimiter between name and address?

[2019-04-13 22:10] weiwang999 commented on #543
exclude = set(["_start", "__libc_csu_fini", "__libc_csu_init", "main",
                 "__data_start", "__dso_handle", "_IO_stdin_used",
"_dl_relocate_static_pie"])

add stuff to the exclude list? most of programs starts with the function _start or main, if so, what else I should add to this exclude list?

[2019-04-14 00:27] pgoodman commented on #543
The delimiter is likely a space, but you can confirm that by testing it or looking at the code that parses the file. You can look at the code in IDA or some other disassembler, and if you recognize something hasn't been named, e.g. `main` or `_start`, then you can add a line to the file with the address and name that you want to give that address.

[2019-04-15 14:09] weiwang999 opened #548 "remill-clang error"
using the same source code helloworld.c to generate dynamically-linked binary and statically-linked one, respectively. then they are translated and recompiled by mcsema tool.
I found dynamically-linked binary recompiled works correctly while statically-linked one recompilation resulted in an error as follows
I don't know the rationale behind the mcsema when it deals with statically-linked binary.

[2019-04-15 17:13] pgoodman commented on #548
Add in `-lm` for `fesetround` and that kind of stuff. Otherwise you'll still need to implement `__remill_async_hyper_call` in the elf runtime.

[2019-04-15 17:46] weiwang999 commented on #548
after adding the implementation of _remill_async_hyper_call, new binary was generated but there is a running error.
Starting program: /home/weiwang99/mcsema-ve/415helloworld_static.new

Program received signal SIGSEGV, Segmentation fault.
0x000000000044da24 in sub_4023ed___copy_tls ()
(gdb) bt
#0  0x000000000044da24 in sub_4023ed___copy_tls ()
#1  0x0000000000425200 in sub_40246d_static_init_tls (

[2019-04-15 22:15] pgoodman commented on #548
can you show me what is in the original binary's `__copy_tls` function (at address `44da24`)?

[2019-04-15 22:16] weiwang999 opened #549 "static recompilation error"
when I added the option -static  , there would be errors, if not , No error.
the same problem happens on two different binaries

weiwang99@jude:~/mcsema-ve$ remill-clang-4.0 -static -o 415helloworld_static.new 415helloworld_static.bc /usr/local/lib/libmcsema_rt64-3.7.a -lm
warning: overriding the module target triple with x86_64-unknown-linux-gnu [-Woverride-module]
1 warning generated.
/usr/lib/g

[2019-04-15 22:17] pgoodman commented on #548
Also, please do `ldd ./orig_binary`, and any libraries there, link those in. That or just use this script [1] to wrap the lifting process.

[1] https://github.com/trailofbits/mcsema/blob/master/scripts/lift_program.py

[2019-04-15 22:19] weiwang999 commented on #548
I can't execute the command ldd ./orig_binary because the original binary is statically-linked

[2019-04-15 22:21] pgoodman commented on #548
Okay, then please show me the disassembly of the `__copy_tls`, and also, re-lift with `--add_reg_tracer`, then re-run, and add the last 30 or so lines of the printout here.

[2019-04-15 22:39] weiwang999 commented on #548
I don't know how to get the disassembly of the __copy_tls because mscema just generated cfg file and bitcode file and new binary file.
the commands executed are as below:
mcsema-disass --disassembler ~/ida-7.2/idat64 --os linux --arch amd64 --output 415hs.cfg --binary helloworld_static --entrypoint main --log_file 415hs.log

mcsema-lift-4.0 --os linux --arch amd64 --cfg 415hs.cfg --output 415hs.bc

[2019-04-15 22:41] pgoodman commented on #548
You have IDA Pro, so open up the GUI, type `g`, then in the popup, enter `0x4023ed` or `__copy_tls`, then go to that function, and take a screenshot of it and post it here.

[2019-04-15 22:48] weiwang999 commented on #548
![IMG_20190415_184522](https://user-images.githubusercontent.com/49313445/56170294-020f8d80-5faf-11e9-9d47-fa813d0e911a.jpg)

[2019-04-15 22:49] weiwang999 commented on #548
when I enter 0x4023ed, command JumpAsk failed poped up

[2019-04-15 22:56] pgoodman commented on #548
It looks like you'll need to tell IDA Pro that this is an ELF for either x86 or x86-64.

[2019-04-15 23:02] weiwang999 commented on #548
I don't see any option reminded me to input x86 or x86-64

[2019-04-15 23:06] pgoodman commented on #548
Okay, try this:

1) Comment out this line https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/__main__.py#L177
2) Add in a print statement before the commented line, e.g. `print(workspace_dir)`

Then re-run mcsema-disass as you usually do. Hopefully you should see a temp directory get printed out. Open a new instance of IDA Pro, navigate to that directory, and open the .idb file

[2019-04-15 23:07] pgoodman commented on #548
Or `disass 0x4023ed` in gdb :-D

[2019-04-15 23:11] weiwang999 commented on #548
Dump of assembler code for function __copy_tls:
   0x00000000004023ed <+0>:	push   %r13
   0x00000000004023ef <+2>:	push   %r12
   0x00000000004023f1 <+4>:	lea    0x8(%rdi),%r13
   0x00000000004023f5 <+8>:	push   %rbp
   0x00000000004023f6 <+9>:	push   %rbx
   0x00000000004023f7 <+10>:	mov    %rdi,%r12
   0x00000000004023fa <+13>:	push   %rcx
   0x00000000004023fb <+14>:	mov    0x20249e(%rip),%rax

[2019-04-15 23:12] artemdinaburg commented on #548
There do not seem to be any exotic instructions, so it is probably a control flow recovery error. The problem with lifting static binaries is that it is forcing McSema to lift all of libc initialization, which while certainly doable in a lot of cases, is greatly complicating things here.

[2019-04-15 23:14] pgoodman commented on #548
@weiwang999 can you upload your static binary here?

[2019-04-15 23:14] pgoodman commented on #548
And your .cfg file.

[2019-04-15 23:16] weiwang999 commented on #548
[helloworld_static.zip](https://github.com/trailofbits/mcsema/files/3082378/helloworld_static.zip)

[2019-04-15 23:18] weiwang999 commented on #548
[415hs.cfg.zip](https://github.com/trailofbits/mcsema/files/3082383/415hs.cfg.zip)

[2019-04-16 13:57] weiwang999 opened #550 "linking libraries"
First, you'll need McSema's runtime libraries that are generated during installation. These are located at the installation prefix of McSema, typically in /usr/local on Unix machines. Alternatively, these can be found in the Remill build directory, under tools/mcsema/mcsema/Arch/X86/Runtime (for X86). You will also need to link against any libraries that the original program was linked against. Fo

[2019-04-16 18:23] weiwang999 opened #552 "Linking error multiple definition"
weiwang99@jude:~/mcsema-ve$ remill-clang-4.0 -static -o mapstatic.new mapstatic.bc /usr/local/lib/libmcsema_rt64-3.7.a  -lm
warning: overriding the module target triple with x86_64-unknown-linux-gnu [-Woverride-module]
1 warning generated.
/usr/lib/gcc/x86_64-linux-gnu/5.4.0/../../../x86_64-linux-gnu/libc.a(genops.o): In function `__overflow':
(.text+0xb30): multiple definition of `__overflow'
/tm

[2019-04-19 00:29] abarbala commented on #543
Dear Peter, thanks for the previous feedback, I am working together with Wei, and our goal is to convert statically linked binaries to LLVM IR, modify them, and recompile them again to native (we start from x86 and we want to get x86 and ARM - we focus on 64bit only). This is connected to the Popcorn Linux project (popcornlinux.org). I am now able to run statically compiled binaries based on musl

[2019-04-19 00:31] pgoodman commented on #543
@abarbala Thanks for the context. Can you provide your OS version and command line invocation used to produce the binary from that C code, as well as upload the binary that reporduces the problem?

[2019-04-19 00:39] abarbala commented on #543
Ubuntu 18.04.02 (kernel 4.18.0-15-generic)
gcc 7.3.0-27

gcc buf.c -o buf -std=c99
mcsema-disass --disassembler ~/ida-7.2/idat64 --os linux --arch amd64 --output buf.cfg --binary buf --entrypoint main --log_file buf.log
mcsema-lift-4.0 --os linux --arch amd64 --cfg buf.cfg --output buf.bc
remill-clang-4.0  -o buf.new buf.bc /usr/local/lib/libmcsema_rt64-4.0.a
./buf.new

[2019-04-19 01:01] weiwang999 commented on #543
Hi Peter,
attached is the binary file.

On Thu, Apr 18, 2019 at 8:39 PM Antonio Barbalace <notifications@github.com>
wrote:

[2019-04-19 14:19] Aiethel commented on #543
Hi, I am not sure how to retrieve the binary, but it is quite possible that the binary `gcc` produced is by default position independent, therefore you may need to include `--pie_mode` flag when invoking `mcsema_disass`.

[2019-04-19 16:27] abarbala commented on #543
Hi Aiethel,
 here is the output using --pie_mode

mcsema-disass --disassembler ~/ida-7.2/idat64 --pie_mode --os linux --arch amd64 --output buf.cfg --binary buf --entrypoint main --log_file buf.log
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/mcsema_disass-2.0-py2.7.egg/mcsema_disass/ida7/disass.py", line 77, in execute
    cwd=os.path.dirname(__file__))
  File

[2019-04-19 16:53] abarbala commented on #543
UPDATE With Chengbin Pang and Jun Xu (also Stevens) we verified that by changing one line of mcsema_disass/ida7/segment.py the demo program works correctly. Note that this helps my statically compiled framework based on musl libc to work. However, this doesn't sound the right way to go. Can you please advise?

===START patch===
--- ../remill/tools/mcsema/tools/mcsema_disass/ida7/segment.py	2019-04

[2019-04-19 20:02] artemdinaburg commented on #543
I did some debugging. It looks like mcsema is not finding a reference from `__stdout_FILE.buf` to `buf`. The CFG recovery code (erroneously) interprets __stdout_FILE.buf as an integer.

When you open the compiled binary in IDA, it shows a proper reference from `__stdout_FILE.buf` to `buf` and `idc.get_item_size` returns the proper 8 byte size. I suspect the values are not populated for mcsema beca

[2019-04-19 20:24] artemdinaburg commented on #536
By default building of ABI libraries is disabled; you can turn it back on by editing remill/build.sh and updating the following line:

[code]

As a warning: this will probably fail to build. Building ABI libraries (well, mostly ABI_libc) is a flaky process that depends on you having an exact set of headers installed on your system. It will most likely work with ubuntu 16.04.

If you want to build

[2019-04-19 20:25] artemdinaburg commented on #537
I am going to close this since it looks like the question has been answered.

[2019-04-19 20:25] #537 closed

[2019-04-19 20:26] artemdinaburg commented on #540
Closing for now, please re-open if this is still a problem.

[2019-04-19 20:26] #540 closed

[2019-04-19 20:27] #541 closed

[2019-04-19 21:15] junxzm1990 opened #554 "Item size check in is_sane_reference_target leads to errors"
While the function "is_sane_reference_target" handles a xref, it checks if the item size of the target is 1: https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/segment.py#L59

We are wondering about the logic here. We have seen cases where this leads to errors. The following is a PoC example (we compiled, lifted, re-compiled, and ran it on Linux-64, and saw a segfault. gcc

[2019-04-22 20:56] pgoodman commented on #546
We should just disallow this when doing argument validation in `main`.

[2019-04-25 19:34] artemdinaburg commented on #554
We are going to remove the check for items of size 1.

We had a discussion about it, and we couldn't remember why the item target check is there. It was certainly for a good reason at the time, but since it was not documented we are going to remove it. When the core issue that triggered its placement happens again, we can find a better solution.

[2019-04-25 19:48] artemdinaburg commented on #548
hi @weiwang999 do we still need to look at this, or is it a duplicate of #554 ?

[2019-04-25 19:54] artemdinaburg commented on #549
Hi,

Are you trying to lift a statically linked binary? It seems like yes.

The problem happens because of the following: you are lifting a binary with a statically linked libc, which has a bunch of libc symbols (`__overflow`, `stdout`, etc). These get lifted and their names are present in the lifted bitcode. Then you are linking in a different libc (via `-static`) which defines the same symbols.

[2019-04-25 19:55] artemdinaburg commented on #552
Closing as a  duplicate of #549

[2019-04-25 19:55] #552 closed

[2019-04-25 19:58] artemdinaburg commented on #550
Hi,

lets say you are lifting `xz`. That program dynamically links against `liblzma`. When you lift it, the binary you re-emit still needs to dynamically link against `liblzma`.

You can usually identify the libraries via `ldd`. An example:
[code]
Here we can see `xz` links against standard libc and dynamic loading libraries and also `liblzma.so.5`. When you lift it and re-emit it, you will need t

[2019-04-25 20:00] artemdinaburg commented on #550
Also this issue has come up before. @pgoodman has a script that should help identify and link in any dynamic libraries: https://github.com/trailofbits/mcsema/blob/master/scripts/lift_program.py

[2019-04-25 20:07] artemdinaburg commented on #523
Thanks for trying mcsema, sadly the Windows runtimes were broken a bit ago and are still not functional, although we would love to have them up and running again.  I am going to close the issue since we have prior filed ones to re-enable the Windows PE runtimes (#279 and #278). Please re-open it if  you have any more questions.

[2019-04-25 20:07] #523 closed

[2019-04-25 20:09] artemdinaburg commented on #488
Hi, I am closing this issue since we have a long-running PR to track the Binja CFG recovery progress (#512)

[2019-04-25 20:09] #488 closed

[2019-04-25 20:10] artemdinaburg commented on #499
I am going to close this issue since it may have been resolved and we do not have the original binary. If it is still a problem please re-open and attach libMst.a.

[2019-04-25 20:10] #499 closed

[2019-04-25 20:12] artemdinaburg commented on #477
@Aiethel is this still an issue?

[2019-04-25 21:52] artemdinaburg commented on #554
This should now be fixed. Please re-open if it is still an issue.

[2019-04-25 21:52] #554 closed

[2019-04-25 21:53] artemdinaburg commented on #550
Closing for now, please re-open if you have any more questions.

[2019-04-25 21:53] #550 closed

[2019-04-25 21:57] artemdinaburg commented on #530
This looked especially odd because it seemed to work for me and i noticed the `$` in your prompt. Are you running/building this from cygwin or msys or WSL ? If yes, can you try invoking the commands from a normal command prompt?

[2019-04-26 04:01] nwuli opened #556 "binaryninja ERROR"
hello，when i use the following comand  to test the binary xz,the was an error.
$ mcsema-disass --disassembler /home/lip/binaryninja --os linux --arch amd64 --output xz.cfg --binary xz --entrypoint main --log_file xz.log

The Error: mcsema-disass: error: Could not `import binaryninja`. Is it in your PYTHONPATH?
i couldn't find the IDA pro (linux) V6.7+,so i use the binaryninja,and i have set the en

[2019-04-26 04:11] joshwatson commented on #556
You have to add `/home/lip/binaryninja/python` to your PYTHONPATH so that you can import the API

[2019-04-26 10:47] Aiethel commented on #477
I think it is but I am still not sure what is the cause.

Maybe it is related to https://github.com/trailofbits/remill/issues/350, I will wait for the fix and retest.

[2019-04-28 00:22] abarbala commented on #437
Probably related to this. I have an application with floating point that uses x87 FPU. (Running Linux on x86_64. Current aim to decompile->lift->recompile.) As far as my current understanding of remill/mcsema is, __mcsema_attach_call does the following seq of instructions push %dx -> fldcw (%rsp) -> pop REL_ADDR(%rdi) where %rdx is the third argument to __mcsema_attach_call, which following the co

[2019-04-28 00:30] abarbala commented on #549
Related to this. Is it normal that in the code I end up with multiple __remill_function_call -> __mcsema_attach_call -> lifted_function -> __mcsema_detach_ret -> __mcsema_attach_ret ?
The code works but I am wondering what is the right design ... Here an example (musl libc statically compiled binary)

runtime_64.S:191:runtime_64.S:273                __remill_function_call
0x0000000000460390:0x0000

[2019-04-28 00:44] abarbala commented on #437
My current solution (which work) is to add a single line in remill/tools/mcsema/mcsema/Arch/X86/Runtime/print_ELF_64_linux.cpp

static void PrintLoadFlags(FILE * out) {
  // FPU control.
+  fprintf(out, "  mov edx, 0xf7f\n");

However, this will not allow to pass this value from the caller, i.e. the lifted code. Additionally, we are not conserving the state of the native code in this way. Any sugg

[2019-04-29 15:25] xuming2699555 opened #557 "bitcode dis ERROR"
Hello, I want to use `llvm-dis hello.bc` to get readable .ll file. But there was an error:
`LLVM ERROR: getPointer in streaming memory objects not allowed`
how can i fix this problem?

[2019-04-29 15:27] artemdinaburg commented on #557
Are you using the correct version of `llvm-dis`? You may have more than one version of LLVM installed.

Bitcode formats across LLVM versions are not compatible. If you use something like `mcsema-lift-5.0 <args>` to lift, you'd want to use `llvm-dis-5.0 hello.bc` to disassemble the file.

[2019-05-01 12:42] Youda008 commented on #491
I'm still getting this error with the most recent version of McSema. Are you sending the correct parameters to IDA executable telling it to not use a GUI?

[2019-05-01 12:48] Youda008 commented on #491
@artemdinaburg I'm still getting this error with the most recent version of McSema. Are you sending the correct parameters to IDA executable telling it to not use a GUI?
Also, although i specified --log_file xz.log as in the walkthrough tutorial, the log file is nowhere to be found.

[2019-05-01 13:20] Youda008 commented on #516
@jberryman How did you solve the QXcbConnection: Could not connect to display ?

[2019-05-01 21:49] junxzm1990 opened #558 "Glitch in jump table identification"
The code of jump table identification has a logic flaw. If there are over 1024 entries,  "max_i" will be assigned to  "curr_num_targets" at https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/table.py#L148

In that case, "curr_num_targets - 1", which is the largest value in "i", will be returned as the number of entries (apparently this is not correct).

FYI, we identified t

[2019-05-01 22:02] artemdinaburg commented on #516
The `ida64` executable tries to open an X connection. Use `idal64` or `idat64` based on your IDA version

[2019-05-01 22:02] #557 closed

[2019-05-02 14:03] Trass3r commented on #497
Are there precompiled binaries?

[2019-05-04 02:06] weiwang999 opened #559 "testcase xz error"
weiwang99@cs000061:~/remill/mtest$ sudo mcsema-disass --disassembler ~/ida-7.2/idat64 --os linux --arch amd64 --output xz.cfg --binary xz --entrypoint main --log_file xz.log
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/mcsema_disass-2.0-py2.7.egg/mcsema_disass/ida7/disass.py", line 77, in execute
    cwd=os.path.dirname(__file__))
  File "/usr/lib/python2.7/sub

[2019-05-05 21:17] HeyJJ commented on #491
same here!

[2019-05-05 22:20] pgoodman commented on #491
It looks to me like you are using `arc4` instead of `aarch64` as the architecture name.

[2019-05-05 22:21] pgoodman commented on #491
Or as the OS name.

[2019-05-06 14:58] Youda008 commented on #516
But my command was `mcsema-disass --disassembler ~/idafree-7.0/idal64 --os linux --arch amd64 --output xz.cfg --binary xz --entrypoint main --log_file xz.log`

[2019-05-06 15:02] Youda008 commented on #491
Just for completeness, my command was
`mcsema-disass --disassembler ~/idafree-7.0/idal64 --os linux --arch amd64 --output xz.cfg --binary xz --entrypoint main --log_file xz.log`

[2019-05-06 21:36] jberryman commented on #516
I can't remember, sorry. I was also trying the free version of IDA which doesn't work at all.

[2019-05-07 13:45] Youda008 commented on #516
Oh well. So i basically need to buy a commercial disassembler to use an open-source project :/ Not very convenient.

[2019-05-07 17:33] artemdinaburg commented on #559
I'm not sure whats going on, but have you tried *not* running it via `sudo`? The disassembler should not need root privileges.

[2019-05-07 18:03] pgoodman commented on #516
@Youda008 Try the code from #551 to use McSema with DynInst.

[2019-05-07 18:22] junxzm1990 commented on #558
@pgoodman

[2019-05-07 19:51] bin2415 opened #561 "Miss data cross reference due to resetting IDA's analysis flag"
I run McSema on binary `as` that compiled by clang 3.9.0. The compiled binary at [link](https://drive.google.com/open?id=1xdU2MKEAEOvuukc7y3bL9z3hAoFhThtG)

And I found that McSema misses a data cross reference at address 0x456a70, which is supposed to refer to 0x45fba0.

This is the McSema's log:
[code]

I use binary `nm` to check the symbol at address 0x456a70 and 0x45fba0, it is a reference.
Th

[2019-05-07 19:53] junxzm1990 commented on #561
@pgoodman

[2019-05-07 21:10] Aiethel commented on #516
@Youda008 In the case you decide to use #551 feedback is appreciated!

[2019-05-08 00:26] weiwang999 commented on #559
I tried without sudo but it didn't work

[2019-05-09 01:18] weiwang999 opened #563 "mcsema-disass failure"
weiwang99@cs000061:~/mcsema-ve/remill$ mcsema-disass --disassembler ~/ida-7.2/idat64 --os linux --arch amd64 --output xz.cfg --binary xz --entrypoint main --log_file xz.log
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/mcsema_disass-2.0-py2.7.egg/mcsema_disass/ida7/disass.py", line 77, in execute
    cwd=os.path.dirname(__file__))
  File "/usr/lib/python2.7/subp

[2019-05-09 19:28] #556 closed

[2019-05-09 19:29] #543 closed

[2019-05-09 19:29] #536 closed

[2019-05-09 19:30] #520 closed

[2019-05-09 19:30] #548 closed

[2019-05-09 21:47] artemdinaburg commented on #563
For some reason IDA is having a problem before it can open the log file. Can you try running the script manually, something like:

This is the same command line as the log but without `-B`.

[code]

The IDA screen should hopefully have some useful information for you in an error message or similar.

[2019-05-09 21:53] weiwang999 commented on #563
![Screenshot from 2019-05-09 17-52-23](https://user-images.githubusercontent.com/49313445/57489206-54c52800-7283-11e9-9928-59fe1ca51abf.png)

[2019-05-09 22:50] artemdinaburg commented on #563
Thanks for posting. Were there any IDAPython messages? I didn't see any in your console. Does the console just exit after a bit? If yes, then it should have done something.

I also notice that your directory is `~/mcsema-ve` but you are using the system install of mcsema. If you installed to a virtualenv, don't forget to `source ~/mcsema-ve/bin/activate`.

As  a sidenote, I just tried with latest

[2019-05-09 22:55] artemdinaburg commented on #561
I can fill this in.

When we were working with IDA 6.x, the default auto-analysis was too eager and would find incorrect references often enough to cause us a lot of problems. We disabled it, and attempt to manually identify references by looking for "pointer-like" things in code and data sections, and verifying how "sane" they look.

Can you try to debug why it's not making a reference? looking a

[2019-05-09 22:56] artemdinaburg commented on #559
Closing as a duplicate of #563

[2019-05-09 22:56] #559 closed

[2019-05-09 23:21] bin2415 commented on #561
Thank you for your answer!

It try to make reference at these two locations([link1](https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/segment.py#L246) and [link2](https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida7/segment.py#L255)) by using `make_xref` function. And in `make_xref`, it takes a check  in [link3](https://github.com/trailofbits/mcsema/b

[2019-05-10 01:48] nwuli commented on #563
when i use the mcsema,i met the same problems as above,but i use the IDA PRO(v6.4),whether this problems is caused by the version of IDA pro.

[2019-05-10 13:26] weiwang999 opened #564 "llvm optimizer error"
I got one bitcode ll using mcsema tool and want to optimize it.
the error is as below. I failed to understand what is the entitiy of "llvm-link"
opt -debug-pass=Arguments -data-sections=1 -function-sections=1  -f -S sm.ll -o sm.llopt: sm.ll:1:1: error: expected top-level entity
source_filename = "llvm-link"

[2019-05-10 15:02] artemdinaburg commented on #564
`opt` works on compiled bitcode (`.bc`) not text-based LLVM IR. Compile your IR using `llvm-as` and then run `opt`. Make sure you use the same version of the LLVM tools as your bitcode. For example, if you used `mcsema-lift-4.0`, use `opt-4.0`, `llvm-as-4.0`, etc.

[2019-05-10 15:02] #564 closed

[2019-05-10 15:10] artemdinaburg commented on #563
The 6.x series should still work (we test with 6.9 occasionally), although 6.4 is a bit ancient.

[2019-05-10 15:12] artemdinaburg commented on #549
Good question! Are any of those called via callback?

[2019-05-10 19:15] weiwang999 commented on #563
![Screenshot from 2019-05-10 15-15-00](https://user-images.githubusercontent.com/49313445/57551207-74695880-7336-11e9-990c-f79b4c34e319.png)

[2019-05-10 19:30] bin2415 opened #565 "Miss cross reference in __libc_csu_init function when binary is linked by ld.gold"
Hi, When I use McSema to recompile the binary code which is linked by ld.gold(2.26.1), there always has a segmentation fault problem. I made a simple analysis and found that McSema missed a cross reference in `__libc_csu_init` function.

[code]

![image](https://user-images.githubusercontent.com/10161265/57551706-b5ae3800-7337-11e9-9b96-cb4b88e53cb6.png)

As shown above, in 0x400603, there is a co

[2019-05-10 20:00] artemdinaburg commented on #563
Thats a very odd error. Do you by chance have the IDA Student license? That one has a 1MB size limit for open files.

[2019-05-10 20:01] weiwang999 commented on #563
No.
I used the pro version

[2019-05-10 20:05] artemdinaburg commented on #563
Can you try launching the gui version (`ida64` instead of `idat64`) but with the same command line?

[2019-05-23 12:09] lyliu commented on #530
I have the same problem, how do you deal with it ?

[2019-05-24 20:27] bin2415 opened #566 "External variable problem"
Hi, I recompiled `objdump 2.61.1` by using `McSema`, and the binary crashed.

I debugged the recompiled binary and found that the `objdump` program uses external variable `_bfd_std_section` and its size is 1120 bytes. However, `objdump` uses the reference to its internal variable `&_bfd_std_section[3]` directly.

Although McSema can identify `_bfd_std_section` as global variable and can recognize

[2019-05-25 02:20] lyliu opened #567 "mcsema-lift-5.0.exe error"
mcsema-lift-5.0.exe show errors：E0525 10:07:28.113037  9900 CFG.cpp:1001] Successor 4286f1 of block 4286ec in function 428090 does not exist, how to deal with it?

[2019-05-25 02:24] lyliu opened #568 "remill-clang-5.0.exe error"
when i run remill-clang-5.0.exe -o binary_new.exe binary.bc on windows, it show "error: Malformed block 1 error generated."What caused this problem and how to solve it

[2019-05-26 02:47] sunlv opened #569 "Fail to build KLEE Maze example"
HI,
I tried to run build_klee.sh, and I got this error:
"Remote branch llvm_39 not found in upstream origin",
if I deleted the branch information,  I got the error at end of this process:
"CMake Error at /home/wangsl/data/klee_ws/remill-build/libraries/llvm/lib/cmake/llvm/LLVM-Config.cmake:203 (message):
  Library `jit' not found in list of llvm libraries."
I tried to use the lastest KLEE (2.0), i

[2019-05-26 02:54] pgoodman commented on #569
Can you submit a PR with your fixes to `build_klee.sh`?

Besides that, my best guess is that the version of remill's LLVM isn't matching the one used by KLEE. If you can figure out what version KLEE is using, or find a way to force it to use the LLVM the `remill-build/libraries` dir, then that could be helpful.

[2019-05-26 02:57] pgoodman commented on #565
Ooh interesting. @kumarak can you look into this. @Aiethel can you replicate this with the Dyninst frontend? @KyleMiles Can you replicate this with the Binary Ninja frontend?

[2019-05-26 02:59] pgoodman commented on #566
What was your fix?

I think this is similar-ish to handling things like `stdout`, `stderr`, and other globals, especially with ELFs. Often there will be space allocated to back the external global, and its the linker that decides whether to use the memory backed by the main binary or one shared library or another.

[2019-05-26 03:05] pgoodman commented on #567
This is a non-fatal error. If mcsema-lift returns, then bitcode has been produced. If it aborts then something is truly wrong. The thing to understand about static binary disassembly / recovery is that it's impossible to do accurately in the general case. Many heuristics are involved, especially in the frontend. To that end, it means that McSema is almost always operating in one or more failure mo

[2019-05-26 03:05] #567 closed

[2019-05-26 03:05] pgoodman commented on #568
This is interesting. Can you upload your binary?

[2019-05-26 03:40] bin2415 commented on #566
Yeah, it happens when the executable binary is not PIE mode. When the executable binary and dynamic library want to share a global variable, they use the global variable that stored in the executable binary's data segment(such as .bss segment).

My fix mainly adds an additional check before [here](https://github.com/trailofbits/mcsema/blob/master/mcsema/BC/Instruction.cpp#L297). If the `cfg_xref->

[2019-05-26 03:58] pgoodman commented on #566
Can you submit a PR? How is this different than what happens inside of `LiftEA` [1]?

https://github.com/trailofbits/mcsema/blob/fd3bce8809f6c834403b187e65d38dbc682e973d/mcsema/BC/Util.cpp#L71

[2019-05-26 04:04] bin2415 commented on #566
It's similar to `LiftEA` function. Sure, I'll submit a PR later.

[2019-05-26 10:02] sunlv commented on #569
Hi,
Thanks for your reply!
1. I will submit the pr later. The only difference is that I  deleted the "-branch llvm_39" from git clone command in the build_klee.sh. In fact, when I ran "git branch -a" in KLEE, the output showed that no branch named "llvm_39".

2.The replaced KLEE version is 2.0, I have installed no other version LLVM besides the remill-build/libraries, and it built succeed. So I gu

[2019-05-29 07:15] lyliu commented on #568
My binary is UnRAR.exe
[UnRAR.zip](https://github.com/trailofbits/mcsema/files/3231170/UnRAR.zip)

[2019-05-29 07:27] lyliu opened #571 "remill-clang-5.0.exe fatal error"
Hi, I tried to run " remill-clang-5.0.exe -o pngquant_new.exe pngquant.bc", and i got this error "remill-clang-5.0.exe: error: clang frontend command failed with exit code 70 (use -v to see invocation)
clang version 5.0.1 (tags/RELEASE_501/final)
Target: x86_64-pc-windows-msvc
Thread model: posix
InstalledDir: C:\remill\bin
remill-clang-5.0.exe: note: diagnostic msg: PLEASE submit a bug report to

[2019-06-03 14:20] weiwang999 opened #573 "mcsema lift coredump"
E0603 10:18:40.501271 10559 Segment.cpp:329] Marking seg_aaaa0__eh_frame as non-constant to support lazy initialization of reference to  from abd34
E0603 10:18:40.757510 10559 Lifter.cpp:123] Missing semantics for instruction (AMD64 215fc 8 (BYTES 66 0f 57 05 9c 90 07 00) XORPD_XMMxuq_MEMxuq (WRITE_OP (REG_128 XMM0)) (READ_OP (REG_128 XMM0)) (READ_OP (DWORD_PTR (ADD (REG_64 PC) (SIGNED_IMM_64 0x79

[2019-06-04 11:02] Aiethel commented on #547
Fixed by #572

[2019-06-04 11:02] #547 closed

[2019-06-04 11:02] Aiethel commented on #546
Fixed by #572

[2019-06-04 11:02] #546 closed

[2019-06-04 11:17] Aiethel commented on #573
Hi,

original input (the CFG file and ideally binary as well if possible) will help discover the origin of error.

As can be seen from:
[code]
`XORPD_XMMxuq_MEMxuq` (and maybe others I missed in the log) does not have semantic function defined in remill. That will most likely result in the incorrect behaviour of the lifted program in case the control flow hits the instruction -- otherwise it shoul

[2019-06-04 11:23] Aiethel opened #574 "Thread local variables and sections"
Right now frontend does not check `tls` at all, just sets it always to `false` both for external variables and sections.

Possible solution may be similar to the one used in IDA frontend (https://github.com/trailofbits/mcsema/blob/master/tools/mcsema_disass/ida/util.py#L115 and below).

[2019-06-06 11:51] Trass3r commented on #486
That may work on Linux but what about Windows?
And anyway, why are there are no prebuilt binaries? Either a manual upload from time to time or via CI using the Github releases functionality.

[2019-06-06 16:27] KyleMiles commented on #486
Does that container not work in Docker for Windows?
You should also be able to target Windows from the Linux container.. What's the specific issue you're having?

[2019-06-06 21:22] Trass3r commented on #486
Docker on Windows is totally different from Linux. Nothing _just works_.
I even tried to compile a native version of McSema some time ago. It wasn't a pleasant experience.
But anyway, you skipped over my question why there are no convenience prebuilt binaries, at least for Windows? Are there legal complications?

[2019-06-12 14:18] weiwang999 opened #575 "__remill_sync_hyper_call function prototype"
this function is just for x86-64,  is there any version for ARM?

[code]

[2019-06-12 15:36] pgoodman commented on #575
No.

[2019-06-12 15:36] #575 closed

[2019-06-16 00:02] lfrazer opened #576 "Missing floating point instructions RSQRTSS and UNPCKHPS"
See log output indicating missing instructions:

E0615 16:25:29.556859 15732 Lifter.cpp:123] Missing semantics for instruction (AMD64 140b7f0c9 4 (BYTES f3 0f 52 dd) RSQRTSS_XMMss_XMMss (WRITE_OP (REG_128 XMM3)) (READ_OP (REG_128 XMM5)))

E0615 16:25:29.223357 15732 Lifter.cpp:123] Missing semantics for instruction (AMD64 140b7f7b0 3 (BYTES 0f 15 c2) UNPCKHPS_XMMps_XMMdq (WRITE_OP (REG_128 XMM0))

[2019-06-16 03:02] pgoodman commented on #573
The `Instruction does not dominate all uses` is likely a known bug in the dse pass when it's being extra aggressive. More recent builds disable the aggressive behavior, and I think there may be a patch for it.

[2019-06-18 20:16] #576 closed

[2019-06-18 20:16] lfrazer commented on #576
Moved to Remill issue list

[2019-07-08 11:40] nihuai opened #578 "Compilation issues"
Binary files are not provided，Compile error Too many
Successful compilation，Tool usage went wrong again
Come in happily and leave disappointedly

[2019-07-08 21:02] dguido commented on #578
Thanks @nihuai. mcsema builds on every commit via the scripts defined here: https://github.com/trailofbits/mcsema/blob/master/scripts/travis.sh

What steps does your system fail on?

[2019-07-10 00:57] bin2415 opened #579 "Tail call causes error when translating between 'Native' and 'Emulated' mode"
Hi, I am testing mcsema with below demo:
[code]

When I open `-O2` optimization, there exists a tail call in `cmpfunc_str` function. The disassemble code is shown as below:

[code]

This demo contains multiple translation(main[Emulated]->qsort[Native]->cmpfunc_str[Emulated]->strcmp[Native]). And this causes recompiled binary crashes. It seems that the tail call function `strcmp` in `cmpfunc_str` r

[2019-07-10 03:01] pgoodman commented on #579
Can you upload your log file from mcsema-disass (add in the `--log_file` option), and also paste the invocation you used for both mcsema-disass and mcsema-lift?

[2019-07-10 03:10] bin2415 commented on #579
for mcsema-disass:
[code]
for mcsema-lift:
[code]

And log file:
[test_qsort.log](https://github.com/trailofbits/mcsema/files/3375601/test_qsort.log)

[2019-07-10 03:13] pgoodman commented on #579
Is `test_qsort` a PIE-mode executable? (check `file /tmp/test_qsort`). If so, please add `--pie-mode` to `mcsema-disass`.

[2019-07-10 03:16] bin2415 commented on #579
No, it's not pie mode. I compile it with `--no-pie`. And I double checked it with `file`, it's `ELF 64-bit LSB executable`.

[2019-07-26 04:39] bsauce opened #580 "C++ export variables"
Problem: If I use mcsema to re-compile C++ programs, the re-compiled binary crashes at the start of ‘main’ function. I found that you have moved export variables from ‘.bss’ segment to another segment and initialize the export variables, but the original program still refers the original variables in ‘.bss’ segment.  Thus it crashes because the variable is not initialized.
I think we can fix it by

[2019-07-26 04:41] bsauce commented on #580
[crashed_binary.zip](https://github.com/trailofbits/mcsema/files/3434191/crashed_binary.zip)

[2019-07-30 03:49] bsauce commented on #580
I tried to change get_cfg.py. I add true struct with true size of the export varibles, and attach it to the export variables. Then it might automatically recognize the export variables. I make it. But re-compiled binary crashed as usual.

[get_cfg_new.zip](https://github.com/trailofbits/mcsema/files/3445081/get_cfg_new.zip)

[2019-07-30 14:41] artemdinaburg commented on #580
So the export issue you're talking about has been a thing that we've encountered before. I saw @pgoodman already tagged @kumarak on this; maybe they can remember what our resolution was last time. I know we had this problem with something as simple as a C++-based `hello world` but somehow it got resolved.

Speaking of hello world, does a simple `std::cout << "Hello World\n";` lift for you?

What C

[2019-07-30 16:27] kumarak commented on #580
The issue is with the reference of `std::cout`. IDA is not able to correctly resolve the reference of 0x608570 (`std::cout + 0xF0`). Instead, it is lifted as the part of `bss` seg variable. The `bss` seg variable is also not lazily initialized which is causing the crash.

[code]

[2019-07-31 01:22] bsauce commented on #580
I use IDA7.2.

[2019-07-31 01:23] bsauce commented on #580
Yes, this is what happened as you said.
I have another three ideas to solve this problem. First, every time I come across an address, I judge whether it is within an export variable struct like ‘cout’. Second, can you make external variable and internal variable together? Thus export variable still point to ‘bss’ segment and it can be initialized right. Third, can you only re-compile just a functi

[2019-07-31 22:16] kumarak commented on #580
@bsauce, A better solution will be to resolve the address to the export variable as you see them. Having multiple copies of the same variable (initializing bss with the exported variable) and accessing it differently might go wrong if they are referred indirectly and through the different offset.

[2019-08-16 16:54] Aiethel opened #582 "LLVM-7.0 getGetElementPtr runtime crash"
Using pre-built binaries of `llvm-7.0` with `clang-7/8` ends with runtime crash:
SIGSEV in `llvm::ConstantExpr::getGetElementPtr`.
This is probably a result of https://bugs.llvm.org/show_bug.cgi?id=39427

To bypass this issue it is possible to use `gcc` compiler when building McSema.
To eliminate the issue the `llvm-7.1` version should be pre-built, where this problem should be fixed

[2019-08-17 23:16] Aiethel opened #583 "Pie gzip pre-main crash"
Dyninst frontend does not correctly lift `gzip` included in current testing debian.

Problem is that in function not discovered by heuristics, bb that contains only one jump instruction, for example:
`jmpq   28e0`
does not have any successors in the generated CFG file.

Possible fix: If basic block ends with control flow instruction that can be resolved to known address continue parsing there and

[2019-08-27 01:58] leepeter2019 opened #584 "mcsema-disass error with option 'recover-stack-vars'"
I tested mcsema.disass.exe on simple linux binary : Juliet database (Juliet Test Suite for C/C++)
https://samate.nist.gov/SARD/testsuite.php
It worked when I gave no 'recover-stack-vars' option.
but when i gave 'recover-stack-vars' option, mcsema-disass.exe does not provide any result at all for long time.
even though more than 2 hours, it still work on it for simple binary such as 'hello world'

[2019-08-28 02:19] leepeter2019 commented on #584
i upload the binary file in 'https://github.com/leepeter2019/test'
its name is CWE457_x86
Thanks for cooperation.

[2019-09-03 15:21] Aiethel opened #588 "Possible infinite cycle in lifted grep"
CFG produced by dyninst frontend may be lifted into binary that contains infinite cycle.
[code]
where `expression.txt` contains only `expression` does not end even after several minutes. If flag `-F` is added recompiled binary seems to work correctly.

[2019-09-05 15:06] #583 closed

[2019-09-10 17:01] pgoodman commented on #524
Support for DynInst is merged into master.

[2019-09-10 17:01] #524 closed

[2019-09-11 17:44] jpc0016 opened #590 "Ignore Host Compiler"
Good afternoon,

While attempting to build McSema on Ubuntu 19.04, the #binary-lifting community uncovered an issue with runtimes ignoring `use-host-compiler` and defaulting to prebuilt ones.

Steps taken:

I modified function `GetUbuntuOsVersion` in `build.sh` to look for 'disco' version by adding:
[code]

I received this fatal error.
[code]

So Runtime.cpp cannot find cstudio for some reason.  A

[2019-09-13 18:42] pgoodman commented on #590
I think the crux of this issue is that our compiled clang doesn't discover all the same default include paths as the host compiler, or puts the ordering of them differently.

Ideally, we'd run something like: `echo | ${CMAKE_CXX_COMMAND} -E -Wp,-v -`, then parse out the include paths from there, pass them into the above `COMMAND`, and then after include `-nostdinc` and `-nostdinc++`.

[2019-09-17 15:03] jpc0016 commented on #590
So ideally `-nostdinc` and `-nostdinc++` need to be in the `COMMAND` like so?

[code]

[2019-09-17 15:38] pgoodman commented on #590
It's more than that. Here's an example:

[code]

So we would need `-isystem` each of:
`/usr/local/include`
`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/clang/10.0.1/include`
`/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/include
 /usr/include`
`/usr/include`

Framework directories could be added but shouldn't really be

[2019-09-17 15:39] pgoodman commented on #590
Really what we need is, instead of invoking `COMMAND "${CMAKE_BC_COMPILER}" - ...`, we should invoke a Python script that will do the right thing.

[2019-09-19 16:52] jpc0016 commented on #531
I will look into integrating Ghidra.  What significant challenges can I expect to encounter?

[2019-09-19 17:02] pgoodman commented on #531
We'll be moving to an API-based approach in the near-ish future, where the CFG files are not protobufs but something else, and the disassembler interfaces with the CFG files via an API. I'd recommend waiting until after this change is complete.

One important thing that McSema needs to know is xrefs, and how they relate to specific instruction operands. For example, if you had: `mov [addr1], addr2

[2019-09-23 14:39] silentShadow opened #591 "mcsema-disass==2.0 distribution was not found"
Built and installed McSema on Win7 Build 7601 using python 2.7.14.  Added appropriate folders to PATH and when McSema-disass is ran as follows: `McSema-disass --os windows --arch amd64 --binary c:\windows\notepad.exe --entrypoint main --disaassembler path-to-ida` it spits out

What am I missing here?

[2019-09-23 16:53] #591 closed

[2019-09-23 16:53] silentShadow commented on #591
Resolved

[2019-09-30 06:42] DuanYuxuanzju commented on #591
Hi, I went into the same problem, may I ask how this problem can be solved?
I built and installed McSema on Win10 using python 2.7.16. I ran it as: mcsema-disass --disassembler path-to-ida --os windows --arch amd64 --output output-dir --binary F:\Test\04.exe --entrypoint main.
The error message is also: The 'mcsema-disass==2.0' distribution was not found and is required by the application.
Thank y

[2019-09-30 12:10] silentShadow commented on #591
I had to create a PYTHONPATH environment variable that pointed to the site-packages folder.  I ran into plenty of additional errors after solving this one and just gave up with this tool for Windows.

[2019-09-30 12:42] RainRain1218 commented on #591
Thank you very much.  All right，maybe I should have a try on Linux. 3160105210 邮箱3160105210@zju.edu.cn 签名由 网易邮箱大师 定制 On 09/30/2019 20:10, silentShadow wrote: I had to create a PYTHONPATH environment variable that pointed to the site-packages folder. I ran into plenty of additional errors after solving this one and just gave up with this tool for Windows. — You are receiving this because you commen

[2019-09-30 17:58] lelandliu commented on #591
Yeah, I ran into the same issue. The way that the bash script is generated isn't very friendly to virtual environments or other cases where the python2 executable isn't installed to the default path that they use for the shebang. I solved this by changing the top of the file to `#!/usr/bin/env python2` (or whatever command you run to use python2).

[2019-10-03 23:06] mike-myers-tob commented on #275
Is it relevant that Travis CI now has some form of Windows build target? https://blog.travis-ci.com/2018-10-11-windows-early-release

[2019-10-19 23:34] Aiethel opened #597 "Further test suite improvements"
While the test_suite presented in #589 does work, it is still pretty simple and can be improved and enhanced.

- [ ] Add tests for gnutils and coreutils.
- [ ] Add necessary utilities so more complex programs can be compiled from sources.
- [ ] Integrate CMake, so one could write something like `make validate` and the subset of test that is deemed necessary (for example everything with `min` tag)

[2019-10-23 12:16] Aiethel opened #599 "Bitcode external function prototypes restrictions"
Currently McSema cannot work properly with function declarations provided by `--abi_libraries` if a function contains either a function pointer argument or has variable argument count.

In case `--explicit_args` is specified, function pointers in arguments of externals are handled properly and one should include them.

[2019-10-25 04:46] leepeter2019 opened #600 "Build Error on Windows 10 64bit"
I am using Windows 10 64bit, and I follow windows build script.

when I run 'cmake --build . --config Release -j 4' command, I got error message as below:

`Building Custom Rule C:/Projects/remill/tools/mcsema/CMakeLists.txt
  remill.vcxproj -> C:\Projects\remill_build\Release\remill.lib
  Building Custom Rule C:/Projects/remill/tools/lift/CMakeLists.txt
  Running C++ protocol buffer compiler on C

[2019-10-28 04:07] #600 closed

[2019-11-05 19:56] sdasgup3 opened #602 "Bugs: Instruction Semantics"
Hello Team,
I was validating McSema's semantics of various x86-64 instructions against the [formal sematics](https://dl.acm.org/citation.cfm?id=3314221.3314601) using solver checks and found the following discrepancies.

| Example Instruction             |  Potential Reason | Affected Variants|
 |--|--|--|
| xaddq %rax, %rax |  R4         |   (5) xaddq_r64_r64 xaddb_r8_r8 xaddb_rh_rh xaddl_r32_r32

[2019-11-17 17:49] meme opened #603 "KeyError while lifting jump tables with IDA"
[code]
Errors out with:
[code]

Sample available upon request.

[2019-11-17 18:00] pgoodman commented on #603
`self.entry_size` should likely be either `4` or `8`, representing either the size of a pointer, or a 32-bit signed displacement between two pointers.

[2019-11-17 18:01] pgoodman commented on #603
@meme Can you upload sample.so?

[2019-11-20 09:52] ickyphuz opened #606 "libDwarf URL failed to connect"
the URL for LibDwarf [1] to build the dyninst module is not responding. Is there an alternative Mirror that people use? or is the new dyninst already suported? or even better ghidra?

[1] http://www.paradyn.org/libdwarf/libdwarf-20130126.tar.gz

[2019-11-20 15:09] Aiethel commented on #606
Hi,

if you are using linux just use system packages (you will need `*-dev` versions). It should be possible to build supported dyninst version without downloading any external sources + compiling them. (Tried on debian stable)

[2019-11-21 03:13] 204184251HQG opened #607 "arrch64/arm32 binary lift supportment"
#aarch64 instructions support is developping during the readme.md , and I try to lift an arm64 binary and got some errors.

[code]
error with
[code]
and
[code]
and
[code]
sevel questions:

1. Seems aarch64 lift supportment not finish yet, is it?

2. Is there any ways to lift arm64 or arm32 binary in mcsema?

3. Can I use mcsema to lift arm32 binarys, with aarch64 instruction development done?

[2019-11-21 07:50] bsld opened #608 "Check failed: allow_failure Could not find variable MMX5"
When I allow the failure though the program crashes a few bits after the way. Ultimately I was able to make it to a point where it fails on assertation inside llvm saying that variable type mismatches. However for that to happen I referred to access violation skipper.

Here is the [CFG file](https://1drv.ms/u/s!Al8fYvUULfvvgapOoOPrZVmiDabLBw?e=rNdFil) I used (you also need to patch the SetTotalByt

[2019-11-21 09:51] ickyphuz commented on #606
Hi thanks,
yes, it works if you install it via packet manager. But failed me due to the URL in the first run

[2019-11-24 18:18] stevenagy opened #610 "Undefined reference in binary lifted with mcsema-dyninst-disas frontend"
Per my convo with Aiethel on the Slack, there seems to be a missing reference bug with the Dyninst frontend when trying the `xz` example from the docs. (edit: as well as many other binaries)

`__gmon_start__` is not appearing with `extern_weak` linkage.

objdump of the segfault-producing instruction:
[code]

Hope this help!
-Stefan

[2019-12-01 12:23] #606 closed

[2019-12-23 03:43] salomon1184 commented on #563
I get a error with the same question too (in docker vm)
`Traceback (most recent call last):
  File "/opt/ida-6.8/python/init.py", line 14, in <module>
    import os
zipimport.ZipImportError: can't decompress data; zlib not available
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/mcsema_disass-2.0-py2.7.egg/mcsema_disass/ida/disass.py", line 77, in execute
    cwd

[2019-12-27 11:40] vanhauser-thc commented on #531
Is there an option to export the CFG from IDA on Windows and just pass that output somehow to mcsema_disass on Linux? I would like to avoid having to setup mcsema on Windows - if possible :)

[2019-12-30 07:11] Auxy233 opened #614 "'module' object has no attribute 'GetTrueName' error when using IDA 7.4"
I followed the official instruction and start the command line by (the test is just a hello-world binary):
[code]

And it has error:
[code]

Which eventually can be found in:
[code]

I think this is because `GetTureName` is deprecated in the latest IDA pro, so I remove the function call:
[code]

And it does work. What's the role of the function? And do you have any plan to remove the function call

[2020-01-03 09:37] yixiaoxian opened #615 "Memory Operands Resolving (collect_variable.py: Class Operand)"
I try to resolve the _base_ and _index_ of memory accessing with the proposed decoding method. However, it seems that the resulting might be incorrect.

For example, there is an Intel instruction: `movsx ecx, byte ptr [r11+rcx]`.
The 2nd operand (Op2) is a memory read, as per the register number defined by idapython, the base should be 11, and the index should be 1, while I actually get the follow

[2020-01-08 00:20] pgoodman commented on #615
@kumarak assigned to you as this seems to correspond with variable lifting, but I'm not entirely sure.

[2020-01-08 19:47] pgoodman commented on #608
OK I think the issue is that remill has the variables names `MM0` through `MM7`. I will do some testing, might be that I need to rename them `MMX0` through `MMX7`.

[2020-01-08 19:56] pgoodman commented on #608
I don't have that much RAM :-/ Can you send me the copy and paste disassembly or bytes of `_x3d_D3DXQuaternionToAxisAngle__YGXPBUD3DXQUATERNION__PAUD3DXVECTOR3__PAM_Z`? I.e. the code at `64a4f2` in your binary.

[2020-01-08 20:15] pgoodman commented on #615
@yixiaoxian Can you give us a bit more context on what you're doing, the commands that you're using to invoke McSema, and perhaps the binary that you're lifting?

[2020-01-08 20:17] pgoodman commented on #614
Can you submit a PR?

[2020-01-08 20:18] #578 closed

[2020-01-08 21:47] pgoodman commented on #549
The series of calls that you're observing is by design. My guess is that the multiple definition issue that you're seeing is because what you're lifting includes a bunch of libc, and then when recompiling, it is also trying to link in libc, and then there are two implementations of things.

[2020-01-08 21:47] #549 closed

[2020-01-09 03:02] Auxy233 commented on #614
sure, #621

[2020-01-09 07:12] pgoodman commented on #615
@yixiaoxian So to summarize: you've extracted some code from McSema and are applying it to some binary for the purposes of learning/developing your own scripts, but you have not actually observed this issue when running McSema's scripts on said binary?

[2020-01-09 07:29] yixiaoxian commented on #615
@pgoodman Yes, but I think it would cause errors when McSema processes such instructions.

[2020-01-09 07:35] #614 closed

[2020-01-10 04:49] kumarak commented on #615
I found there is an issue handling of `specflag2` flag. The base and index register extracted from it is not always correct. I have raised a PR #622 to fix the issue.

It handles the base register correctly and adds a check for index register to see if it is there in the operand text else it will also get fixed with correct register value.

[2020-01-10 05:31] yixiaoxian commented on #615
@kumarak Thank you.
Basing on the fixing, I come up another question. I find `index_` is "hacked", so why `base_` is not "hacked", like: `if get_register_name(base_) not in idc.GetOpnd(self._ea, opnd.n): base_ += 8`? Namely, if `self.op_t.reg == 0xC` holds, `base_` should be added with `8` definitely?

[2020-01-10 07:55] kumarak commented on #615
A check can be added with the `base` register as well. if `self.op_t.reg == 0xC` I expect it to be one of r8-r15 registers. I was seeing the divergence with the index register especially if they are `rsi` and `rdi`. So I added a check to avoid it.

[2020-01-10 09:18] yixiaoxian commented on #615
That's good. Thank you both again.

[2020-01-10 13:06] Auxy233 opened #623 "Incorrect behavior of `get_fixup_target_off` lead to incorrect `Reference` handling"
In **tools/mcsema_disass/ida7/refs.py**, line 427-432:
[code]

The program use `get_fixup_target_off` to infer a possible reference address(e.g. function calls, jump table) and then cache it to `offset_to_ref`.

Later, in 441-445:
[code]

`ref` will be recovered from the cache table `offset_to_ref`, otherwise it will recover from `_get_ref_candidate`. The latter function handles much more stuff an

[2020-01-10 13:57] yixiaoxian commented on #615
@kumarak It's better to add the check for `base`, as I've found a counterexample in the sample app at 0x3f782.

[2020-01-10 14:31] bsld commented on #608
You can go ahead and download the file yourself it's in this archive (https://www.tombraiderchronicles.com/cgi-bin/dl09/dl.pl?me_angelofdarkness_pcupdate2) - the file name is TRAOD_P4.exe I believe - just use IDA.

[2020-01-10 14:56] pgoodman commented on #608
Forgive my ignorance, but how do I find that specific `TRAOD_P4.exe` in the downloaded file? I found and downloaded a same-named file off of Google, but the address `0x64a4f2` was in the middle of an instruction in a function.

[2020-01-10 15:01] bsld commented on #608
Use 7zip and open as archive.

On Fri, Jan 10, 2020, 4:56 PM Peter Goodman <notifications@github.com>
wrote:

[2020-01-10 20:34] #558 closed

[2020-01-10 20:34] #603 closed

[2020-01-10 20:35] #615 closed

[2020-01-10 20:39] pgoodman commented on #608
So I've been fixing various things, but I am unable to replicate this specific problem. I did find a host of other issues. My best guess is that your version of Remill or McSema is very out of date. Fixes are in #624 . I've also made some Remill changes that add support various 3DNow instructions used by your binary, but there remain many unsupported instructions. Those changes are not yet merged.

[2020-01-10 20:42] pgoodman commented on #608
By the way, your log seems to have much less variety in missing semantics; have you implemented semantics on your own?

[2020-01-14 23:23] pgoodman commented on #623
Good catch! Can you let me know the values of: `get_fixup_target_dis`, `get_fixup_target_type`, `get_fixup_target_flags`, and `get_fixup_target_sel`?

[2020-01-14 23:52] pgoodman commented on #623
Nice find! I have reproduced the issue. Can you confirm whether or not #626 fixes the issue?

[2020-01-15 04:08] Auxy233 commented on #623
look fine except a small bug

[2020-01-15 05:25] pgoodman commented on #597
@Aiethel Which of these checks can be ticked?

[2020-01-15 05:26] pgoodman commented on #569
@sunlv Can you submit that PR?

[2020-01-15 05:28] #571 closed

[2020-01-15 05:29] #477 closed

[2020-01-25 18:57] Aiethel commented on #597
For now none, as there haven't been much progress in the test_suite.

[2020-01-27 21:33] pgoodman commented on #531
The CFG files can be produced on any OS, and used on any OS. That is, a CFG file produced by the IDA scripts on Windows will work just fine with a Linux build of mcsema_disass.

[2020-03-18 08:40] yksee opened #634 "Failed to recompile new xz binary in McSema walkthrough"
I got the messages when lifting to bc, after getting the CFG using IDA pro:
E0318 08:37:46.963179    35 Function.cpp:353] Cannot find target of instruction at 35b5; the static target 35b7 is not associated with a lifted subroutine, and it does not have a known call target.
E0318 08:37:46.963383    35 Function.cpp:376] Adding missing block 35b7 in function sub_3540 as a tail call to __remill_error

[2020-03-18 08:49] dbwodlf3 opened #635 "Build Error, when using Dyninst latest version"
i used dyninst-10.1.0 from https://github.com/dyninst/dyninst/releases
but encountered build error
[code]

it is problem about source code, or just my mistake?

but. Dyninst 9.3.2 it's okay.
i built mcsema using Dyninst 9.3.2

and i found commit history
| [Dyninst](https://www.dyninst.org/) | Latest | =>| [Dyninst](https://www.dyninst.org/) | 9.3.2 |
from https://github.com/lifting-bits/mcsema/pul

[2020-03-18 17:56] pgoodman commented on #634
Errors reported are mostly informational, about possible things missing in the disassembly. McSema is saying "there is info missing, and here is what I'm doing about it". If it crashes (due to a CHECK failure, or FATAL log), then you know something is really off.

Try `-lm` for the missing reference to `trunc`. You need to make sure to link in all original libraries linked to the binary, and often

[2020-03-18 17:56] #634 closed

[2020-03-18 18:37] Aiethel commented on #635
Hi,

yes it is mentioned in the `tools/mcsema_disass/dyninst/README` that supported version is `9.3.2`. I know it is not the newest (by far) but unfortunately I don't have to to update it and it reliably works (at least from what I can tell).
In case you wish to update it, feel free to submit PR :).

[2020-03-18 18:37] #635 closed

[2020-03-26 05:25] dbwodlf3 opened #638 "what means 'pc'? program counter?"
https://github.com/lifting-bits/mcsema/blob/712a6090fdec500fe9904628445f0cdbb65ba211/mcsema/BC/Function.cpp#L183

hi.

what means pc?

[2020-03-26 07:45] #638 closed

[2020-03-26 08:27] dbwodlf3 opened #640 "can't find target of instruction and has no terminator and empty function...(mcsema-dyninst-disass)"
[code]

[code]

[code]

[code]

[code]

[code]

i don't know what is problem...

i used ubuntu18.04 with docker.

[2020-03-26 16:59] pgoodman commented on #640
So when McSema outputs errors, it's basically reporting on issues that are relevant to the disassembler. That is, it thinks that there's information missing that it should have, but doesn't have. If mcsema-lift returns, i.e. does not abort with a `CHECK` failure or a `LOG(FATAL)`, then that means bitcode is produced.

[2020-03-26 17:30] #640 closed

[2020-03-27 01:24] dbwodlf3 commented on #640
yes. but, i cant execute and it seems wrong.
[code]

[code]

[2020-03-27 15:21] Aiethel commented on #640
Hi,

the problem is you are lifting in a mode that requires a runtime library if you want to recompile the result. That's why you are encountering these errors, linker is complaining about some functions missing. These functions are typically used to change control flow between lifted and native functions (externals). The runtime library should be somewhere in `build-dir/tools/mcsema/mcsema/Arch/X

[2020-04-01 05:39] dbwodlf3 commented on #640
ah. thank you...
```mcsema--lift-4.0 -explicit_args```...
but. when lifingt.
[code]

and run it. then.
[code]

XD

[2020-04-09 03:58] dbwodlf3 commented on #638
in remill,
pc is "addr_t" data type.
and it is pointing value of PC(Program Counter, that is Instruction register)

[2020-04-13 15:09] sab24 opened #642 "Doesn't compile on MacOs"
Hi,

I'm having linking issues on MacOS

First protobuf had a missing header:
[code]

This was fixed by copying the header from the flatbuffers release 3.11.2 to this location. Somehow it worked.

Then the next error I do not see why it does not link. There exists a symbol in the included static libraries.

[code]

And rtti seems to be present.

[code]

[2020-04-15 03:00] pgoodman commented on #642
The first issue is a known problem and we're working on migrating off of protocol buffers.

Can you check: `/Users/sab24/Downloads/remill/remill-build/libaries/llvm/bin/llvm-config --has-rtti --version`

[2020-04-15 03:02] pgoodman commented on #610
To mitigate this issue, the next version of McSema auto-creates this function. The function to do so is:

[code]

And it can be called as `FiniBaselineDecls();` before the call to ```remill::StoreModuleToFile(mcsema::gModule.get(), FLAGS_output);``` near the end of mcsema/tools/mcsema_lift/Lift.cpp.

[2020-04-15 03:02] #610 closed

[2020-04-15 07:42] sab24 commented on #642
Hi Peter,

Thanks for having a look. That's indeed the problem
[code]

Although I used --use-host-compiler, which uses the system config apparently here this llvm package that is downloaded is being used.

I'm running a software project that used to use protobuf as well, but switched to flatbuffers, as it is a lot faster.

[2020-04-15 07:49] sab24 commented on #642
Using another version doesn't work:
[code]

[2020-04-15 07:57] sab24 commented on #642
Apparantly only these versions are available. Listing them here in case anyone else needs them:
[code]

[2020-04-15 08:03] sab24 commented on #642
It compiled just fine

[2020-04-15 16:06] sab24 commented on #608
@pgoodman I have the same issue. I followed the instructions on the readme page in root, so I should have the newest version. git log shows:
[code]

[code]
[code]

[2020-04-15 16:09] pgoodman commented on #608
What is the commit hash of your version of remill?

[2020-04-15 16:15] sab24 commented on #608
That's eae68217c43f2e99a657c75ae36d40af740cc20e  from 10th of February

[code]

[2020-04-15 16:16] sab24 commented on #608
I think it's because I disassembled with --arch x86 instead of --arch x86_avx

[2020-04-15 16:19] pgoodman commented on #608
That shouldn't make a difference. Can you do this...

Right here: https://github.com/lifting-bits/mcsema/blob/master/mcsema/BC/Instruction.cpp#L130
Can you add:
```LOG(ERROR) << inst.Serialize();```

You'll get a lot of output logged, but that last line of output should be super useful and tell me what the problematic instruction is.

[2020-04-15 16:25] sab24 commented on #608
Done, I get
[code]

[2020-04-15 16:32] pgoodman commented on #608
My XED gives me different results:

[code]

I think you have two options:
1) Build cxx-common from scratch (long)
2) Copy these [1] and then paste them, and add an `X` into each of the variable names. Then `make -j8` from inside your build dir.

[1] https://github.com/lifting-bits/remill/blob/master/remill/Arch/X86/Runtime/BasicBlock.cpp#L318-L325

[2020-04-15 16:35] sab24 commented on #608
I choose option 1 and will report back in some time.

[2020-04-16 18:52] sab24 commented on #608
Some compilation issues with llvm 10.0, is it not supported yet?
[code]

[2020-04-17 08:20] sab24 commented on #608
changed the code to:
[code]
Where true stands for scalable. Seems to compile.

[2020-04-17 09:25] sab24 commented on #608
same error when recompiling with llvm 10.0
[code]

[2020-04-18 04:33] Waterman178 opened #644 "convert driver to shellcode"
Is there any tool that can convert the driver to shellcode?My driver is written in c ++.I heard that you can use llvm to compile the driver into shellcode, I don't know how to use it, do you know?

[2020-04-18 11:46] sab24 commented on #608
It works now. Only still having problems with compiling. I have
[code]

[2020-04-18 12:56] sab24 commented on #608
Somehow the mcsema_rt64-5.0.lib and mcsema_rt32-5.0.lib 's are not built.
remill/tools/mcsema/CMakeLists.txt:184 has
[code]

but the system on windows has AMD64. Uncommenting this and enabling building this library gives a lot of errors:
[code]

[2020-04-18 16:28] sab24 commented on #608
I get
[code]
but the mcsema libraries don't compile on windows? Also this file has not been changed for three years, is there an alternative?

[2020-04-18 18:21] sab24 commented on #608
Also do I need to link to remill? It is compiled to 64 bit but this application I am trying to recompile uses 32bit
[code]

[2020-04-19 14:47] khordadi opened #645 "E0419: Block has no terminator, and instruction is not a local no-return function call."
Hi,

I used [this](https://github.com/lifting-bits/mcsema/commit/d4b74772722d42abae3407a29b41dbd084aee024) commit to building McSema.

I'm using IDA Pro 7.4.

$ `vim hello.c`
[code]
$ `gcc hello.c -o hello`
$ `./hello`
[code]
**Control Flow Recovery**
$ `mcsema-disass --disassembler ~/idaedu-7.4/idat64 --os linux --arch amd64 --output hello.cfg --binary hello --entrypoint main --log_file hello.log

[2020-04-19 18:59] sab24 commented on #608
Recompiled everything to 32 bit, makes no difference. It turns out that in the remill.lib there are no definitions to the symbols:
[code]

So they are just empty. Enabling Windows runtime library turns out to be impossible as the code is unmaintained for three years. Also the newer version only supports linux, as the arch/os directory only contains linux.

[2020-04-19 20:19] pgoodman commented on #608
Yeah, we don't have a runtime made for windows just yet. One can be made by copying the definitions of those missing functions from `remill/tests/X86/Run.cpp`.

[2020-04-20 10:25] sab24 commented on #608
@pgoodman

I tried to add the code to remill/remill/BC/IntrinsicTable.cpp:
[code]

But the llvm::function and Memory struct don't match. Is there code missing to convert memory to an instruction? There is no constructor for llvm::function

[2020-04-20 10:27] sab24 commented on #608
They should match declarations such as
[code]

[2020-04-20 18:22] Aiethel commented on #644
I am not sure how is this related to McSema? McSema handles translation from compiled binaries to LLVM bitcode.

[2020-04-20 18:22] #644 closed

[2020-04-20 18:34] Aiethel commented on #645
Hi,

the rule of thumb is if you got some bitcode as output, the lift process from the provided CFG file was successful.
This of course does not guarantee that the bitcode is "equivalent" to the original program, as there may be an error during CFG generation (which typically manifest as SIGSEV, `__remill_error` being called or incorrect behavior of the recompiled binary).

Errors and warnings you

[2020-04-20 18:34] #645 closed

[2020-04-20 19:00] Aiethel commented on #608
I am not sure what does you code snippet trying to achieve. I believe that what @pgoodman tried to say is that you can have a look at the definitions in the `remill/tests/X86/Run.cpp` and create a *runtime* library from it, i.e. you would want to compile that to bitcode (or pass it as .c/.cpp during re-compilation).
So you can write something like
`clang lifted.bc my_runtime.bc -o recompiled`

Som

[2020-04-20 19:23] sab24 commented on #608
Hi Aiethel,

The above code is from remill/tests/X86/Run.cpp . I tried to overwrite the symbols from remill.lib but indeed that might not be necessary. I will try tomorrow, it’s evening here. On Slack from Empire Hacking was very little activity

[2020-04-21 09:01] sab24 commented on #608
Almost there, I have this code that is 64bit assembly, incompatible with my 32 bit executable:
[code]

How do I change this to 32 bit?

[2020-04-21 10:34] Aiethel commented on #608
You can find binary-lifting on Empire Hacking, it allows for more flexible communication than github issue.

Anyway, you say you want 32-bit code, but in code snippet you use `r`ax (and others) that are probably not present.

[2020-04-22 11:21] Aiethel commented on #642
Since the last report says there were no problems, I am closing the issue.

[2020-04-22 11:21] #642 closed

[2020-04-22 15:44] leibo-hust commented on #642
Hi, I have the same problem. My llvm version is 9.0 and I didn't use the "--use-host-compiler" option. So how to resolve it? Thanks a lot!

[2020-04-23 04:09] sab24 commented on #642
I used 7.0 version. And later just created a similar directory structure with symlinks to llvm-10.0.  I did have to change some function as the api of LLVM changed.

[2020-04-23 04:18] leibo-hust commented on #642
Thanks a lot!!!
So what shoul I only do is change the LLVM to version 7.0. And I don't know what'the symlinks to llvm-10.0 means, will it effect the build of  mcsema?

[2020-04-23 14:52] leibo-hust opened #646 "Build failed when run the build.sh"
Hi, when I'm run the build.sh to build the mcsema, I got the clang link error as follow:

[ 70%] Built target mcsema_rt64-9.0
[ 90%] Built target mcsema-lift-9.0
../../../../../libremill.a(Arch.cpp.o):(.bss+0x70): multiple definition of `fLS::FLAGS_arch[abi:cxx11]'
CMakeFiles/mcsema-dyninst-disass.dir/main.cpp.o:(.bss+0x250): first defined here
../../../../../libremill.a(OS.cpp.o):(.bss+0x70): mul

[2020-04-23 16:04] Aiethel commented on #646
Hi, thanks for report!

So it looks like remill declares some variable as global, dyninst frontend does declare global with the same name and then when they link together (which they do not need to) linker complains.
To be honest, not sure someone did not encounter this sooner (including me) but thanks for report, I need to think about the best way to deal with it.

You can probably work around th

[2020-04-23 16:11] Aiethel commented on #642
There is probably a few workarounds you can use (disclaimer: not sure how it works on osx)
1) build cxx-common from scratch with the llvm-version you want
2) tweak `CMakeLists`s to use system-wide llvm installation
3) if you don't care much about llvm version use 7.0 (according to list above only 4.0 and 7.0 are currently pre-built for osx)

[2020-04-23 16:27] kumarak commented on #642
There is a pre-build package available for macOS with LLVM 9.0. It might be helpful.

https://github.com/trailofbits/cxx-common/actions/runs/42577741

[2020-04-24 02:29] leibo-hust commented on #642
Thanks a lot!! To be honest with u, I'm not familiar with the first two methods and I want to try the third one, but it looks like the most time-consuming way. So  what's the simplest way?

[2020-04-24 02:33] leibo-hust commented on #642
Thanks you very much. Actually, I did this and my OS is Ubuntu but not macOS. By using this, I met a new problem #646 . So I'm wondering if this will affect the build result.

[2020-04-24 03:00] leibo-hust commented on #646
Thanks a lot for your quick reply and your help. But I don't know which build dir I should use. I have try the remill-build dir but it's incorrect. So  where is the build dir and the make file you mentioned or should I create a new one and write the make file? Thanks a lot!

[2020-04-24 05:57] leibo-hust commented on #646
Hey, I try to use llvm-7 and when run the build.sh, there are familiar error as follow:

**clang-7: error: linker command failed with exit code 1 (use -v to see invocation)**
tools/mcsema/tools/mcsema_disass/dyninst/CMakeFiles/mcsema-dyninst-disass.dir/build.make:267: recipe for target 'tools/mcsema/tools/mcsema_disass/dyninst/mcsema-dyninst-disass' failed
make[2]: *** [tools/mcsema/tools/mcsema_d

[2020-04-24 13:49] Aiethel commented on #646
I pushed a patch into `issue_646_fix` branch, can you test it? It is more of a workaround than a solution, but should remove the linking error.

And to your last question yes you built `mcsema-lift` however to use it you need some of the frontends, in your case you probably want `mcsema-dyninst-disass` and from your log that one still failed?

[2020-04-24 15:06] leibo-hust commented on #646
Yes, failed again, and it's the same problem with llvm-9 and I don't know where is the problem. I'll test it, thank u very much!!
To be honest with u, I just want to see the result of the mcsema that translate binary to bitcode, and my time is pressing. So could you please give a hand that I give you a simple executable file(.out) and troubling you to give the bitcode file. Thanks you very much!!!

[2020-04-24 16:38] Aiethel commented on #646
(Let me know if the fix worked, if I understood your comment correctly you are about to test it?)

Anyway, if you are only curious about how does the lifted bitcode looks you can try to lift pre-generated CFG files (this is output of a component that you were not able to build) in `test/tests/test_suite_generator/prebuilt_cfg`, you can find binaries they were produced from in the `src` part of the

[2020-04-24 17:10] leibo-hust commented on #646
Thanks a lot. Actually I tried just now and it doesn't work, I met the new problem:

make[2]: Leaving directory '/home/user02/CGCL/mcsema/mcsema-ve/remill/remill-build'
make -f tools/mcsema/examples/CMakeFiles/maze.dir/build.make tools/mcsema/examples/CMakeFiles/maze.dir/build
Error copying file "/home/user02/CGCL/mcsema/mcsema-ve/remill/remill-build/tools/mcsema/CFG_pb2.py" to "/home/user02/CGCL/

[2020-04-24 17:20] Aiethel commented on #646
Interesting, that does not seem related to dyninst frontend though.
So can you check if these two binaries are present?
`remill-build/tools/mcsema/mcsema-lift-7`
`remill-build/tools/mcsema/tools/mcsema_disass/dyninst/mcsema-dyninst-disass`
If they are both present you can use mcsema on your binary by yourself, if not:
[code]
and recheck - if still not there you can let me know about error log.

I

[2020-04-25 03:25] leibo-hust commented on #646
Thanks a lot, I checked the dir and there is `mcsema-lift-7` but  there isn't mcsema-dyninst-disass in the `remill-build/tools/mcsema/tools/mcsema_disass/dyninst/ `.

And I tried the `make mcsema-dyninst-disass`, and the error is similar with previous error, still the link error with clang:

[ 68%] Linking CXX executable mcsema-dyninst-disass
cd /home/user02/CGCL/mcsema/mcsema-ve/remill/remill-bui

[2020-04-25 06:23] leibo-hust commented on #646
I tried again and the error is as follow:

[ 70%] Built target amd64_avx512
Error copying file "/home/user02/CGCL/mcsema/mcsema-ve/remill/remill-build/tools/mcsema/CFG_pb2.py" to "/home/user02/CGCL/mcsema/mcsema-ve/remill/tools/mcsema/tools/mcsema_disass/ida".
Scanning dependencies of target maze
tools/mcsema/CMakeFiles/protobuf_python_module_ida.dir/build.make:67: recipe for target 'protobuf_pyth

[2020-04-25 10:59] Aiethel commented on #646
Interesting. I don't see why it still fails, did you remove the entire `remill-build` and run the whole process from scratch after you pulled the hotfix from the branch?

I would prefer slack over email, you can find information about how to connect in the `Getting help` section of top level mcsema README.

[2020-04-25 14:55] leibo-hust commented on #646
No, I didn't remove the entire `remill-build`, I just remove the mcsema and run the build.sh because the network is too slow to download the library. I'll try it later and report the result.

Thanks a lot, I'll contact u with slack. Thanks again.

[2020-04-26 04:01] leibo-hust commented on #646
Hi, I tried again and I succeed!!!
I changed the llvm version to **9.0.0** and use the libraries-llvm900-ubuntu18.04-amd64.tar.xz that download manually before. What's more, I download the mcsema of branch **issue_646_fix** manually too. And then I ran the build.sh, it succeeded and successfully installed.

[code]

But here comes the new problem when I use the remill-lift-9.0, the command is: `mcs

[2020-04-26 10:20] Aiethel commented on #646
Okay, that error message does not say much. Are you sure `hello.cfg` is a correct path to the cfg file?
Also you mention both `mcsema-lift` and `remill-lift`, you want to use `mcsema-lift` with dyninst frontend.

Can you post the arguments of `mcsema-dyninst-disass` (just to be sure something is not missing)?

What may be a problem later is that you pass `--arch x86` (32-bit) to `mcsema-lift` but

[2020-04-26 15:13] leibo-hust commented on #646
I checked the path is correct, because I just build and use the `hello.cfg` just in the same dir. And yes I want to use the  `mcsema-lift` and the build result that I showed is just to tell u the good news. Thanks for your reminder, the architecture of my server is `amd64`.
I'll tried  tomorrow and if there are errors, I'll post the arguments of `mcsema-dyninst-disass`.

I send a message to u on S

[2020-04-28 10:36] leibo-hust commented on #645
Hi, I have almost the same problem with you. I use the same `c` source code and the same steps to generate the hello.new. But when I ran the `./hello.new`,  can't get the correct output but the Segmentation fault. What's more, my frontend is dyninst.
Thanks a lot!!
(btw, could you use this tool to help me generate a .bc file？ the executable file is very simple and small, thank u very much!!)

[2020-04-30 20:15] vient commented on #530
Problems are still the same, but you can deal with them by:
1. Running script in interactive mode, and
2. Manually replace `.bc` file with `.bc.tmp.0`

[2020-04-30 20:30] vient opened #647 "mcsema_rt builds are broken on Windows"
There are multiple problems with both x86 and x64 builds, and I don't know how to deal with them all.

First of all, x86 build:
1. It seems that C++ standard set in `mcsema/Arch/X86/Runtime/CMakeLists.txt`, `gnu++11`, is wrong. I tried `c++17` but finally `c++14` worked.
2. In the same place, option `-fPIC` is not supported on Windows clang. I don't know if it is necessary on other platforms or no

[2020-05-03 03:35] khordadi opened #648 "Generated an invalid (zero-sized) CFG ERROR: Could not find entrypoint"
Hi there,

My goal is to get the LLVM IR of a Java application using McSema.

I was going to lift a binary generated by [GraalVM](https://github.com/oracle/graal)'s `native-image`, and then compressed by [UPX](https://github.com/upx/upx).

command:
[code]
output:
[code]

`hello.log`:
[code]
How can I find the entry point of the application?

I attached the native binary generated by Graal, after a

[2020-05-03 03:39] pgoodman commented on #648
That is a pretty unusual error. It looks like you're using IDA 7.4, can you let us know what version of Python it is using?

[2020-05-03 03:42] khordadi opened #649 "Generated an invalid (zero-sized) CFG / ERROR: Could not find entrypoint"
Hi there,

My goal is to get the LLVM IR of a Java application using McSema.

I was going to lift a binary generated by [GraalVM](https://github.com/oracle/graal)'s `native-image` from [HelloWorld.java](https://introcs.cs.princeton.edu/java/11hello/HelloWorld.java.html), and then compressed by [UPX](https://github.com/upx/upx).

command:
[code]
output:
[code]

`hello.log`:
[code]
How can I find th

[2020-05-03 03:45] pgoodman commented on #648
Seems possible that there is an exception thrown, e.g. in `instruction_personality`, then through some bad logic, we still move forward with things but `M` is `None`.

Can you try replacing the `instruction_personality` function in `ida7/util.py` with this?
[code]

[2020-05-03 03:47] #649 closed

[2020-05-03 03:48] khordadi commented on #649
Sorry, I submit the same issue twice! I closed this one.

[2020-05-03 03:50] pgoodman commented on #648
Also, it looks like `hello.original` is a PIE executable. I recommend adding `--pie-mode` for that, as it changes some of the heuristics.

[2020-05-03 04:20] khordadi commented on #648
I guess I chose python2.7 when I installed IDA Pro. Also according to the `hello.log`, it seems it's using python2.7. Is there any better way to check it? because I don't know.
When do `cd remill-build && sudo make install`, I get:
[code]

I tried to change the `remill/tools/mcsema/tools/mcsema_disass/ida7/util.py` file, but get the same error:
[code]
After that, I changed `remill/tools/mcsema/too

[2020-05-10 12:14] leibo-hust opened #653 "ImportError: No module named google.protobuf when I use mcsema on windows with IDA Pro"
I can successfully install the mcsema on Windows10, but I met a very strange problem that seems ever occured when I ran the command `"D:\test\IDA_7.2\idat64.exe" -S"D:\mcsema\Lib\site-packages\mcsema_disass-2.0-py2.7.egg\mcsema_disass\ida7\get_cfg.py --output D:\test\hello.cfg --log_file D:\test\hello.log --arch amd64 --os windows --entrypoint main" D:\test\hello.exe`(because the problem metioned

[2020-05-10 14:11] hyunsooda opened #654 "mcsema-disass command error"
<img width="942" alt="Screen Shot 2020-05-10 at 10 40 05 PM" src="https://user-images.githubusercontent.com/12508269/81501259-65830080-9312-11ea-9faf-8c83d51bd8fa.png">

Env:
- IDAPro-7.4 (I choose the python 2.7 when I installed the IDAPro)

I performed the descriptions on Linux environment except for only the step 1.5(optional)

As you can see the image, the error says that there is no ```add.cf

[2020-05-11 14:46] leibo-hust commented on #653
OK, I solved this by add the `PATHONPATH` to both the **system environment** and to the `user's environment`, and the content of `PATHONPATH` is `C:\mcsema\Lib\site-packages`(you shoud change to the path where your mcsema lies). The reason for this maybe I have two versions of Python.

[2020-05-11 14:46] #653 closed

[2020-05-11 15:46] Aiethel commented on #654
Hi,

can you specify `--log_file` and then examine the content? Also you need to pass in IDA that runs without gui (maybe you do that already).

[2020-05-14 13:46] abadoi commented on #645
@leibo-hust any updates on this? I am having the same issue with Dyninst

[2020-05-15 02:10] leibo-hust commented on #645
@abadoi no, I can't fully intsall the mcsema with dyninst now because I change the server few days ago. u can't recompile the `hello world` program too?

[2020-05-15 13:05] abadoi commented on #645
@leibo-hust, yes I am having the same issue using Dyninst decompiler? any other (free) alterantives?

[2020-05-15 14:34] leibo-hust commented on #645
@abadoi , maybe, u can have a look on `llvm-mctoll`

[2020-05-17 23:13] hyunsooda commented on #654
This issue seems related to the release version. I checked out old commit and used it then worked well.

[2020-05-17 23:13] #654 closed

[2020-05-18 08:16] leibo-hust commented on #530
Hi, I have build and installed mcsema on my Windows 10 successfully too, but I can't recompile the `.bc `file to a executable file and output the right result, can u?

[2020-05-21 04:59] blingcho opened #656 "Rebuild failure on windows"
hello!

I'm trying to rebuild some binary for testing.
but i encounter linker failed error.

my command for lifting binary to IR :
`
C:\mcsema>"C:\Program Files\IDA 7.2\idat.exe" -B -S"C:\mcsema\Lib\site-packages\mcsema_disass-2.0-py2.7.egg\mcsema_disass\ida7\get_cfg.py --output C:\mcsema\sample_cfg\project1.cfg --log_file C:\mcsema\sample_cfg\project1.log --arch x86 --os windows --entrypoint main

[2020-05-23 15:30] leibo-hust commented on #640
Hi, I have the same problems with u, have u solve this?

[2020-05-23 23:24] dbwodlf3 commented on #640
nope.. not yet. i am trying.

[2020-05-24 01:59] madscientist159 commented on #499
@artemdinaburg Is there anywhere I can confidentially share the library?  My goal is to lift and translate to a different architecture; I assume that is a reasonable goal if 1.) the page size is kept constant and 2.) the static library isn't linked to anything else?

[2020-05-24 02:07] pgoodman commented on #499
You can come onto the Empire Hacking slack, into the #binary-lifting channel, and message both artem (artem) and I (pag) directly.

[2020-05-24 13:40] dbwodlf3 commented on #656
```clang project.bc -o project1.new -m32```
what means it?
remill-clang is just clang. it is not lifter.

and i recommend to use it on ubuntu 18.04.

[2020-05-24 23:47] dbwodlf3 opened #659 "mcsema-lift build error, herader file not found"
[code]

[code]
[code]

i solved it like this...
[code]

[2020-05-25 02:51] leibo-hust commented on #640
ok

[2020-05-25 04:59] artemdinaburg commented on #659
Hi,

was this via the docker build or via the build.sh build? What underlying OS?

[2020-05-25 05:04] artemdinaburg commented on #648
Hi,

I am not sure if mcsema will accurately handle a UPX packed file, I have never tried it but I assume there will be quite a few failures, at least when it comes to running the file. McSema is not designed to work on packed of obfuscated code.

As for the actual error you are seeing: i am not sure quite, how well does IDA handle the file by itself? Also, you probably do need to rebuild after mo

[2020-05-25 05:06] artemdinaburg commented on #647
Thank for the tips! We have not had much time to dedicate to Windows builds but I do hope to get them running with modern LLVMs again.

[2020-05-25 05:21] khordadi commented on #648
Hello,

Thank you for your response.

No, I didn't. I will try that (without using UPX).

[2020-05-25 06:49] dbwodlf3 commented on #659
Ubuntu 18.04.
and Ubuntu 18.04 on Docker...

[2020-05-25 10:49] blingcho commented on #656
Hello!

Is it possible that using bitcode file for clang input?
because i saw McSemaWalkthrough.md and this command :
[code]

and this article also use similar command
https://subscription.packtpub.com/book/application_development/9781785285981/1/ch01lvl1sec14/converting-llvm-bitcode-to-target-machine-assembly

so i just want to rebuild x86 architecture binary. this is why i use -m32 flag in clang

[2020-05-26 03:14] artemdinaburg commented on #659
Hi,

I just tried the Docker build of remill using LLVM9 on Ubuntu 18.04 and it worked fine. My comman d line was the following:

[code]

Are you trying from the latest master branch?

If you can't build it, you can always pull the pre-built version using:
[code]
Which will always give you the latest working image for that LLVM/OS/ARCH combination

[2020-05-26 03:16] artemdinaburg commented on #646
I have not read the scroll back, but if there are still build issues, try pulling a pre-built Docker image, a-la:

[code]

For a specific LLVM/Ubuntu/Architecture combination

[2020-05-26 03:18] artemdinaburg commented on #607
Correct AArch64 support in mcsema is limited. Remill's support for the raw semantics and translation (without OS specifics) is quite good though. ARM32 will only work where the semantics overlap, support was added explicitly for AArch64.

[2020-05-26 03:18] #607 closed

[2020-05-26 03:22] artemdinaburg commented on #656
The McSema walkthrough is sadly a bit dated and has not received much needed updates. We have also not tested the Windows version as thoroughly. If it helps, the Linux version can certainly process PE binaries.

[2020-05-26 03:34] dbwodlf3 commented on #659
yeah!
it works now. every thing is good.
actually i use docker just like Virtual box CLI version... ( run.. exec -it bash.... :=* )
i succeeded my first lifting! but it has a little bug. :'''(
thanks!

i used
Mcsema Commit Version : f8ade494accf887f9d03b6bed901fef8ace5e255

Remill Commit Version : 86a6424d58cca6504a93bf7dc4363f14be9e216f

[2020-05-26 03:34] #659 closed

[2020-05-26 03:44] dbwodlf3 opened #660 "exteranl function? does not have a known call target?"
hello.
as always, thanks.

#### hello.c
[code]
very simple code.

[code]

making cfg
[code]
it works with no error!

lifting
[code]

then
[code]

and i opend hello.ll(lifted bc to LL)
i can't find Declartion like "declare i32 @printf(i8*, ...)" from anywhere ..

then, i tried static compile and lifting.
[code]
but it is so complex and big..
lli execute it. but doesn't print hello world.

[2020-05-26 04:28] artemdinaburg commented on #660
Try the flags used in our test target:

[code]

I suspect the abi libraries flags will make it work, but it is possible there are CFG recover issues w/ IDA 7.4; I have not tried it myself recently and do not have a version that new at the moment.

[2020-05-27 01:49] pgoodman opened #661 "Update mcsema to the latest versions of Remill and Anvill"
TODO

- [ ] Get all tests passing
- [ ] Add a command-line option to mcsema-disass for "trusting" IDA-guess types. Wire this into Anvill.
- [ ] Add a command-line option to mcsema-lift to trust Anvill specifications for unexported functions
- [ ] Canonicalize on using aliases for exporting, allowing multiple names for the same address
- [ ] Migrate to SQLite for CFG storage

[2020-05-29 05:32] dbwodlf3 commented on #660
https://github.com/lifting-bits/mcsema/blob/master/docs/Limitations.md#external-function-abis
i think exaclty it is about this problem... thanks. i have to try some, and if i can solve then close this issue and write a solving way about this problem. for like me..(newbie newnewnewnewnenfadcvxzcxzc :..(  )

[2020-06-01 16:02] leibo-hust commented on #568
I have the same problem with u, have u solved this?

[2020-06-04 03:33] leibo-hust commented on #660
@artemdinaburg Hi, may I ask how did your `bc file` (/opt/trailofbits/mcsema/share/mcsema/9.0/ABI/linux/ABI_exceptions_amd64.bc,/opt/trailofbits/mcsema/share/mcsema/9.0/ABI/linux/ABI_libc_amd64.bc) used for the `--abi_libraries  `come from, were them generated by specifying the options like **MCSEMA DISABLED ABI LIBRARIES** during **cmake**? I only have `local/share/remill/9.0/semantics/amd64.bc x

[2020-06-04 05:17] dbwodlf3 commented on #660
@leibo-hust local/share/remill/9.0/semantics/amd64.bc x86.bc is not abi_libraries. it is just runtime bc file for remill Intrinsics.(like __remill_read_memory_8 )
and, when test, they are using theirs pacakge.

when lifting external function can't know prototype, so mcsema just refer function's prototype. you can use -explicit_args or --abi_librarie for function prototype

[2020-06-05 15:15] leibo-hust opened #662 "Is there any way to use clang to recompile the lifted bc directly?"
Hi, I can successfully generate the `.bc` file, use `remill-clang-9.0` to get the executable file (`.new`), and output the correct result. But I can't use `clang` to recompile the lifted code because of the link error: **llvm-link:(.text+0x18c): undefined reference to `__remill_function_xxx**. So is there any way to recompile the lifted .bc code by using `clang` instead of `remill-clang`?

At the

[2020-06-05 15:51] artemdinaburg commented on #662
Hi,

Yes, you can re-compile the lifted bitcode. The [mcsema self tests do it](https://github.com/lifting-bits/mcsema/runs/741188074?check_suite_focus=true) (scroll through all of the log output, as an example from there:
[code]

The `remill-clang-X.X` binary *is* just normal clang. Its there to ensure you use the same version since LLVM bitcode is not binary compatible across different versions o

[2020-06-05 15:55] artemdinaburg commented on #660
ABI libraries are disabled normally since a ton of people had trouble building them. You can re-enable them during build, it should actually work better now that we have good testing on Ubuntu 18.04-20.04. Do it by passing `-DMCSEMA_DISABLED_ABI_LIBRARIES:STRING=""` to CMake. For example, this is how mcsema is built in CI:

[code]

Its important to remember that ABI libraries is the ABI the *targe

[2020-06-05 15:57] leibo-hust commented on #660
@dbwodlf3 Thanks a lot!!
actually, the -explicit_args works well sometimes, but I want to know how to generate the .bc file for the --abi_librarie?

[2020-06-05 16:01] leibo-hust commented on #660
@artemdinaburg thanks a lot!!!
it means that I should rebuild `mcsema` manually?

[2020-06-05 16:16] artemdinaburg commented on #660
You can build locally or copy them out of an existing Docker container. For example, to copy from an existing Docker build (adjust LLVM and Ubuntu settings as needed):

[code]

[2020-06-05 16:31] leibo-hust commented on #662
Thank u very much, I ran the command that similar to
 `"clang++-8.0 -rdynamic -o recompiled.elf lifted.bc /opt/trailofbits/mcsema/lib/libmcsema_rt64-8.0.a -Wno-unknown-warning-option -Wno-override-module -Wall -Werror -lm -m64"`
and I succeeded.

yes, the progress of recompile is very complex. But I use [llvm-mctoll](https://github.com/microsoft/llvm-mctoll) and `mcsema` to raise the same executab

[2020-06-05 16:36] leibo-hust commented on #660
ok, thanks a lot, I'll hava a try.

[2020-06-05 16:36] artemdinaburg commented on #662
The library is an intentional design decision -- the goal was to make it so that you can instrument bitcode in new and interesting ways. For instance, the `__remill_memory_XXX` functions let you easily intercept all lifted program memory accesses. The library just provides a standard implementation of those that make sense for re-building the binary as-is.

Using llvm-dis should work fine; if the

[2020-06-05 17:01] leibo-hust commented on #662
I see, it means that we can use the  _remill_xxx_xxx functions for better analysis?

yes, the llvm-dis works well but I can't find the data in the `lifted.ll`. For instance, I defined a float array in the source code:
`float A [] = { 1.1, 2.1, 3.1, 4.1, 5.1, 0.6,0.17, 0.8, 1.9 };`

in the `source.ll` that directly generated by clang, I can find a line that define the array `A []`:
`@__const.main.A

[2020-06-05 17:33] artemdinaburg commented on #662
If the program runs fine after being lifted and re-compiled, it has to be in there by definition. I can't offer any more guidance without actually seeing the bitcode.

[2020-06-06 04:20] leibo-hust commented on #662
yes, it runs fine but I can't find them by directly use `Ctrl+f`. I can show u the source file and bitcode, thanks a lot!

[Issue-662.zip](https://github.com/lifting-bits/mcsema/files/4739346/Issue-662.zip)

[2020-06-11 04:01] dbwodlf3 commented on #660
@leibo-hust
you can make bc file.
read this. https://github.com/lifting-bits/mcsema/blob/797dbf152b46a00e5fcdd2e6309d9c486e6432e4/tools/mcsema_lift/Lift.cpp#L402

i would like to lifting printf. so. i tried belows.

[code]

[code]

[code]

[code]
but.

it didn't works to me.

I think it doesn't have any effect to lifting, maybe I had something wrong, but i dunno.

XD

[2020-06-11 12:33] dbwodlf3 commented on #662
[code]
[code]
but, ll file can't run by lli.
because of external function.

i tried something how add prototype info, but failed
i think, if i can add common external function prototype to mcsema. then maybe can it run by lli.

[2020-06-11 14:33] leibo-hust commented on #662
@dbwodlf3 thanks for your try and feedback.
yes, the `.ll` can't run by `lli`, but it could run by the `clang`, like the command showed before: `clang++-8.0 -rdynamic -o recompiled.elf` **lifted.ll** `/opt/trailofbits/mcsema/lib/libmcsema_rt64-8.0.a -Wno-unknown-warning-option -Wno-override-module -Wall -Werror -lm -m64`
you can use the `llvm-dis lifted.bc` to translate the `bitcode` to the `.ll`.

[2020-06-11 14:42] leibo-hust commented on #660
@dbwodlf3 thank you very much! Actually I have tried another method that told by @Aiethel , but it seems there still have some problems, maybe u can try the method that said by @artemdinaburg which is recompile mcsema and **specify some options when compiling**. I haven’t had time to try it recently because I'm doing some analysis work, if you have any new progress, please tell me, thank you very

[2020-06-14 06:12] Gurten opened #663 "Build instructions for Windows could use an update"
I experienced issues building mcsema for Windows but was able to correct the issue and completed the build. The intent behind raising this ticket is mainly to help others. I understand Windows support is not high on the TODO list.

Step 2:
Get the commit hash out of the file

git checkout -b production 86a6424d58cca6504a93bf7dc4363f14be9e216f

[2020-06-23 11:17] eix128 opened #664 "building on windows error"
Hi , i tried to compile your code with cmake
"x64 Native Tools Command Prompt for VS2019"

D:\repo\remill\remill_build>cmake -G "Visual Studio 16 2019" -T llvm -A x64 -DCMAKE_BUILD_TYPE=Release -DLIBRARY_REPOSITORY_ROOT=C:\Projects\tob_libraries -DCMAKE_INSTALL_PREFIX=D:\ ..
-- The C compiler identification is unknown
-- The CXX compiler identification is unknown
CMake Error at CMakeLists.txt:20 (

[2020-06-24 09:02] Yikun opened #665 "Any plan to do a recent release?"
Hi, team.

We could only see latest version was released at 5 Dec 2017 (v2.0.0) [1].

Do we have plan to do the latest release recently? or to say if we plan to do some intergration with remill, what's the recommended version?

Note that our team have some limitations on the choose of open source software, that means we can only choose the stable version, that means we will miss some wanderful fea

[2020-06-24 15:41] pgoodman commented on #665
Thanks for the push. We have a big PR coming :-)

[2020-06-25 08:56] aruncgowda commented on #646
@leibo-hust
[ 87%] Building CXX object tools/mcsema/CMakeFiles/mcsema-lift-9.0.dir/mcsema/BC/Segment.cpp.o
cd /home/sharma/remill/remill-build/tools/mcsema && /usr/bin/ccache /home/sharma/remill/remill-build/libraries/llvm/bin/clang++  -DGFLAGS_IS_A_DLL=0 -DGOOGLE_GLOG_DLL_DECL="" -DGOOGLE_PROTOBUF_NO_RTTI -DNDEBUG -DREMILL_BUILD_SEMANTICS_DIR_AARCH64=\"/home/sharma/remill/remill-build/remill/Arch

[2020-06-25 20:32] pgoodman commented on #665
Hi @Yikun , are you able to provide more context as to what your goals are? Based on your GitHub profile, it looks like you might be interested in x86-to-arm conversion.

[2020-06-26 02:07] aruncgowda commented on #646
hello,I dont know what i have used
please say me the steps to build
i am getting error at 91%

[2020-06-26 02:33] leibo-hust commented on #646
@aruncgowda I don’t know if the method I used before (when this Issue was published) will work for you, because when I reinstall the new version of `mcsema`, I can’t successfully compile using the previous method. After the mcsema updating again later, I directly wrote A build.sh script called `build.sh`:
[code]
Then run: `sudo ./build.sh`, that's all.
If you encounter an error, you can add the `-

[2020-06-26 03:54] pgoodman commented on #665
@Yikun can you try the api_improvement branches of Remill, Anvill, and McSema, and let us know if things break?

[2020-06-26 11:13] aruncgowda commented on #646
Thank You @leibo-hust

i am getting this error now can you please help me

/home/sharma/mcsema-ve/remill/tools/mcsema/mcsema/Arch/X86/Runtime/Runtime.cpp:26:10: fatal error: 'remill/Arch/X86/Runtime/State.h' file not found
#include "remill/Arch/X86/Runtime/State.h"
         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
1 error generated.
tools/mcsema/mcsema/Arch/X86/Runtime/CMakeFiles/mcsema_rt64-9.0.dir/buil

[2020-06-26 11:40] leibo-hust commented on #646
You are welcome @aruncgowda
This error is very strange, because `State.h` seems to exist in `remill`:

`https://github.com/lifting-bits/remill/blob/master/remill/Arch/X86/Runtime/State.h`

To be honest, I don't know why this error occurred. They may be able to help you @Aiethel  @pgoodman .

[2020-06-27 02:01] aruncgowda commented on #646
@leibo-hust

thank u for all your help
i think i have installed mcsema
i got this instruction at very last step
pls check whether mcsema installed or not??

-- Installing: /home/sharma/mcsema-ve/share/remill/9.0/semantics/x86_avx512.bc
-- Installing: /home/sharma/mcsema-ve/share/remill/9.0/semantics/amd64.bc
-- Installing: /home/sharma/mcsema-ve/share/remill/9.0/semantics/amd64_avx.bc
-- Installin

[2020-06-27 03:20] leibo-hust commented on #646
@aruncgowda
you are welcome
It seems that you have successfully installed the `remill-lift-9.0`, but other tools such as `mcsema-lift-9.0` do not see the relevant information. Are there any other error output throughout the process? Are you using `dyninst `as your front end?
After my successful installation before, the last few lines of output information are as follows:
![image](https://user-imag

[2020-06-27 03:25] aruncgowda commented on #646
@leibo-hust
i have used dyninst as my frontend

i am getting this now.

sharma@sharma-HP-Laptop-15-bs1xx:~/mcsema-ve/remill/remill-build$ mcsema-dyninst-disass...
mcsema-dyninst-disass...: command not found

[2020-06-27 03:31] leibo-hust commented on #646
@aruncgowda
Okay. This output indicates that the `mcsema` is not completely installed.
What is the content of the `build` script you use?

[2020-06-27 07:26] aruncgowda commented on #646
@leibo-hust
THIS WAS THE WARNING THROUGHOUT MY BUILD PROCESS

CMake Warning:
  Manually-specified variables were not used by the project:

    BUILD_MCSEMA_DYNINST_DISASS

-- Build files have been written to: /home/sharma/mcsema-ve/remill/remill-build
/home/sharma/mcsema-ve/remill/remill-build/libraries/cmake/bin/cmake -S/home/sharma/mcsema-ve/remill -B/home/sharma/mcsema-ve/remill/remill-build --

[2020-06-27 07:28] aruncgowda commented on #646
@leibo-hust
THIS WAS MY BUILD SCRIPT

export CMAKE_PREFIX_PATH=/usr/local/lib/cmake/Dyninst
if [ -z "${VIRTUAL_ENV}" ]
then
  # no virtualenv; global install for all users
  ./scripts/build.sh --dyninst-frontend
else
  # found a virtualenv; local install
  ./scripts/build.sh --dyninst-frontend --prefix $(realpath ../)
fi

[2020-06-27 07:28] aruncgowda commented on #646
@leibo-hust
This was my build script

export CMAKE_PREFIX_PATH=/usr/local/lib/cmake/Dyninst
if [ -z "${VIRTUAL_ENV}" ]
then
  # no virtualenv; global install for all users
  ./scripts/build.sh --dyninst-frontend
else
  # found a virtualenv; local install
  ./scripts/build.sh --dyninst-frontend --prefix $(realpath ../)
fi

[2020-06-27 07:30] aruncgowda commented on #646
@leibo-hust
this was my build script

export CMAKE_PREFIX_PATH=/usr/local/lib/cmake/Dyninst
if [ -z "${VIRTUAL_ENV}" ]
then
   ./scripts/build.sh --dyninst-frontend
else
   ./scripts/build.sh --dyninst-frontend --prefix $(realpath ../)
fi

[2020-06-27 09:26] leibo-hust commented on #646
@aruncgowda
This warning looks the same as I encountered before, but I couldn't solve it at that time. A few days later, `mcsema` was updated ,and I installed it from the beginning, then the build was successful, which is very strange.
  You can try to add `--use-host-compiler` in your build script.

[2020-06-27 15:00] aruncgowda commented on #646
@leibo-hust
i think i have problem with llvm version and dyninst
can u please give a proper steps to update llvm to 9.0.0 and install dyninst

thank you for the help still now

[2020-06-27 15:22] leibo-hust commented on #646
@aruncgowda
What version of `llvm` and `dyninst` are you using?
I suggest you to reinstall llvm and dyninst, and the version of `dyninst` can only be` 9.3.2`

For `llvm`, you can use the following command lines to install:
[code]

For dyninst, you can refer to `https://github.com/dyninst/dyninst/tree/master` **README.md** for installation, but note that the version must be `9.3.2`, so you need to

[2020-06-27 15:29] aruncgowda commented on #646
@leibo-hust
thank you
another help i tried a lot for dyninst pls provide me a actual commads for installation of dyninst

[2020-06-27 15:39] leibo-hust commented on #646
@aruncgowda
first, `cmake /path/to/dyninst/source`
then, `make && make install`

If I remember correctly, it should be like this, you can try.

[2020-06-27 17:25] pgoodman commented on #646
This might be useful: https://gist.github.com/pgoodman/0882459dc2ecff0e674b79815e9301ff

[2020-06-28 02:14] aruncgowda commented on #646
@leibo-hust
when i gave this command i face this problem
cmake -G "Unix Makefiles" -DLLVM_TARGETS_TO_BUILD=X86 -DCMAKE_BUILD_TYPE="Release" -DCMAKE_INSTALL_PREFIX="/usr/local/llvm" ..

-- Configuring incomplete, errors occurred!
CMake Error: Cannot open file for write: /home/sharma/llvm-src/build/CMakeCache.txt.tmp
CMake Error: : System Error: Permission denied
CMake Error: Unable to open cache fi

[2020-06-28 02:20] leibo-hust commented on #646
@aruncgowda
You may need to add `sudo`, like `sudo cmake -G "Unix Makefiles" ...`

[2020-06-28 02:35] Yikun commented on #665
Cool, it's great to know the PR is coming, and hope we could see the new release soon. : )

Yes, it's for x86-to-arm conversion, our team is preparing to integrate `remill`, `mcsema`, `cxx-common` in to our product. we are using them to do x86 to LLVM IR coversion, and then using compiler to generate the aarch64 code.

As I mentioned before, our company have some limitation on the choose of openso

[2020-06-28 02:53] pgoodman commented on #665
Are your targets arbitrary x86(-64) binaries, or do you have control over the build process or compiler? Are your targets statically linked, dynamically linked, position independent, etc?

[2020-06-28 03:19] Yikun commented on #665
In most cases, what we focus is source-to-source conversion, so we need control over the build process.

As we mentioned above, we usually compile the source code to position-independent binary (not executable in most cases), and lift it to `LLVM IR`, and then using compiler to generate the `aarch64` code.

[2020-06-28 05:56] aruncgowda commented on #646
@leibo-hust
i think i have installed successfully

-- Up-to-date: /usr/local/llvm/lib/cmake/llvm/./HandleLLVMStdlib.cmake
-- Up-to-date: /usr/local/llvm/lib/cmake/llvm/./UseLibtool.cmake
-- Up-to-date: /usr/local/llvm/lib/cmake/llvm/./AddLLVMDefinitions.cmake
-- Up-to-date: /usr/local/llvm/lib/cmake/llvm/./CheckLinkerFlag.cmake
-- Up-to-date: /usr/local/llvm/lib/cmake/llvm/./FindSphinx.cmake
-- Up

[2020-06-28 10:10] leibo-hust commented on #646
@artemdinaburg
Okay, have you successfully build and install `mcsema`?

[2020-06-28 10:30] aruncgowda commented on #646
@leibo-hust
no i have not installed mcsema
i have issues with dyninst.
i have used this command to install dyninst but its not working

sudo apt-get update
sudo apt-get install zlib1g-dev
sudo apt-get install libpng-dev
sudo apt-get install libboost-all-dev

git clone https://github.com/dyninst/dyninst.git
cd dyninst
git checkout -b v9.3.2

cmake /home/arun/dyninst -DCMAKE_INSTALL_PREFIX=$HOME/.lo

[2020-06-28 11:00] leibo-hust commented on #646
@aruncgowda
what's the problem with Dyninst? Did an error occur during `cmake` or when `make`?
You don't need to add the `-DCMAKE_INSTALL_PREFIX` option to cmake, it's has the default value and that will meets the default requirements of `mcsema`.
At the same time, the `git checkout` semms not work(I testd this before), u can check whether the file is changed when used the `git checkout`.

[2020-06-28 11:05] aruncgowda commented on #646
@leibo-hust
thannk you for the quick respose
 i have a problem with cmake

this are the problems https://github.com/dyninst/dyninst/issues/774

[2020-06-28 11:14] leibo-hust commented on #646
@aruncgowda
u are welcome, I'm sorry I don't seem to have encountered this error. I can provide my previous method:
First, I manually downloaded the `v9.3.2` version of `dyninst`
Secondly, the cmake command I used seems to be: `cmake /path/to/dyninst/source`
hopes this can help you.
best wishes for u.

[2020-06-29 11:17] eix128 opened #667 "CFG Reconstruction by opensource lib"
Using ida pro for cfg construction is really annoying for due to license problem.
There is library Jakstab for cfg construction.
But this works on x86 and x64 only.
At least , for x86 and x64 could we use such a library for that?

Jakstab is an Abstract Interpretation-based, integrated disassembly and static analysis framework for designing analyses on executables and recovering reliable control f

[2020-06-29 19:30] pgoodman commented on #667
We will accept PRs if you are prepared to maintain the functionality.

[2020-06-30 09:57] alderson41 opened #668 "Build error"
i am trying to build mcsema with dyninst as frontend.
but i am getting following error

[ 71%] Built target mcsema-print-runtime-x86
make  -f tools/mcsema/mcsema/Arch/X86/Runtime/CMakeFiles/mcsema_rt32-9.0.dir/build.make tools/mcsema/mcsema/Arch/X86/Runtime/CMakeFiles/mcsema_rt32-9.0.dir/depend
make[2]: Entering directory '/home/anirudhmp/Desktop/mcsema/remill/remill-build'
[ 72%] Building 32-bit

[2020-07-01 16:31] malocharo commented on #668
Hi,
I had the same issue and solved it by modifying the CMakeLists.txt at location `tools/mcsema/mcsema/Arch/X86/Runtime`

At line 212 and 228  add `-isystem "/home/anirudhmp/Desktop/mcsema/remill/" after the `--std=gnu++11`.

This should solve your bug
`

[2020-07-01 16:38] artemdinaburg commented on #668
Hi,

We have docker based builds that reliably produce a working mcsema build:

[code]

[2020-07-01 16:40] artemdinaburg commented on #667
I am going to close this but just wanted to say that your core idea is good: we even had a basic CFG recovery built on Jakstab a few years ago. However, maintaining a separate CFG recovery frontend takes time and effort that we do not always have available. If you would like to make a PR and maintain it, we would gladly merge it.

[2020-07-01 16:40] #667 closed

[2020-07-01 16:42] artemdinaburg commented on #664
Hi,

Are you able to do a Linux build? We have not had time to maintain the Windows build process and will likely de-list it as a buildable architecture unless we either get Dockerized builds working there or someone steps up to maintain it.

[2020-07-01 16:44] artemdinaburg commented on #663
Thanks for these, we are either going to get Dockerized builds working under Windows or completely de-list Windows as a platform. We do not currently have an active project that needs Windows builds and do not have the time to maintain it.

[2020-07-01 16:44] artemdinaburg commented on #662
I am closing this issue since it looks like the problems were resolved

[2020-07-01 16:44] #662 closed

[2020-07-01 16:45] artemdinaburg commented on #660
Closing as it sounds like from other posts this issue was also resolved. Please ask debugging related questions on the #binary-lifting channel in empire hacking slack.

[2020-07-01 16:45] #660 closed

[2020-07-01 16:53] artemdinaburg commented on #646
Hi,

I am closing this issue as it sounds like there is a solution. If possible i also highly recommend using the Docker-based builds, and it sounds like we really need a Dockerized build that includes dyninst.

[2020-07-01 16:53] #646 closed

[2020-07-02 01:04] alderson41 commented on #668
@malocharo thanks a lot your solution worked.

but now i am facing new error when trying to build using dyninst as front-end.

Logs,

[ 85%] Building CXX object tools/mcsema/tools/mcsema_disass/dyninst/CMakeFiles/mcsema-dyninst-disass.dir/CFGWriter.cpp.o
cd /home/anirudhmp/Desktop/mcsema/remill/remill-build/tools/mcsema/tools/mcsema_disass/dyninst && /usr/bin/ccache /home/anirudhmp/Desktop/mcsema/

[2020-07-02 03:33] alderson41 commented on #668
@malocharo thanks your solution worked perfectly.

but i am getting new error.

os: ubunut 18.04(x86_64)
dyninst vesion: 9.3.2

error log,

[ 94%] Linking CXX executable mcsema-dyninst-disass
cd /home/anirudhmp/Desktop/mcsema/remill/remill-build/tools/mcsema/tools/mcsema_disass/dyninst && /home/anirudhmp/Desktop/mcsema/remill/remill-build/libraries/cmake/bin/cmake -E cmake_link_script CMakeFiles/m

[2020-07-02 04:43] alderson41 commented on #668
Thanks everyone the issue fixed after following @pgoodman solution to remove

DEFINE_string(arch, "", "NOT IMPLEMENTED YET");
DEFINE_string(os, "", "NOT IMPLEMENTED YET");

from tools/mcsema_disass/dyninst/main.cpp (line 44-45)

[2020-07-02 04:43] #668 closed

[2020-07-02 05:11] dbwodlf3 commented on #664
use this commit version.
remill
86a6424d58cca6504a93bf7dc4363f14be9e216f
mcsema
f8ade494accf887f9d03b6bed901fef8ace5e255

[2020-07-02 05:16] pgoodman commented on #664
If you have IDA Pro on Windows, then you can invoke the mcsema-disass Python programs on Windows without building or installing mcsema. The way to do it is to do something like

```python tools/mcsema_disass/__main__.py <normal args here>```

[2020-07-02 05:16] pgoodman commented on #664
Also, the Windows Subsystem for Linux should in theory be able to build remill and mcsema. I tried it some time ago with WSL1 and it worked.

[2020-07-02 06:50] Akshat4828 opened #669 "building McSema on linux with error of state.h"
[ 95%] Built target mcsema-lift-9./home/akshat/remill/tools/mcsema/mcsema/Arch/X86/Runtime/Runtime.cpp:26:10: fatal error: 'remill/Arch/X86/Runtime/State.h' file not found
#include "remill/Arch/X86/Runtime/State.h"
         ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

1 error generated.
/home/akshat/remill/tools/mcsema/mcsema/Arch/X86/Runtime/Runtime.cpp:26:10: fatal error: 'remill/Arch/X86/Runtime/State.h'

[2020-07-02 06:53] pgoodman commented on #669
I know in the api_improvement branch we had an issue with `-isystem -isystem`, which may be fixed. Another possibility is that the `State.h` file isn't installed. @kumarak any ideas?

[2020-07-02 07:07] alderson41 commented on #669
@Akshat4828 please check #668 the above issue has solution there

[2020-07-02 09:41] kumarak commented on #669
The error is primarily because of the way mcsema is built. The remill header `remill/Arch/X86/Runtime/State.h` is missing because it is not installed and `REMILL_SOURCE_DIR` is not in the include directories list.  There is a fix for it in `api_improvement` branch.

[2020-07-03 12:29] Akshat4828 commented on #669
yeah thanks i solved  that issue...

[2020-07-03 14:48] eix128 commented on #664
I got windows decompiled beta version.
It has some issue , i will fix it in days.

https://github.com/eix128/MCSemaWindows

[2020-07-03 16:59] #669 closed

[2020-07-05 04:24] alexey-milovidov opened #670 "Readme: the link to libbeauty no longer works."

[2020-07-05 04:30] pgoodman commented on #670
Forked some other copy to my personal account and linked it.

[2020-07-05 04:30] #670 closed

[2020-07-06 03:52] adahsuzixin opened #671 "Update dyninst frontend to work with API improvement branch"
Hi team,

I install dyninst `v9.3.2` in `/opt/trailofbits/dyninst`
[code]
and build `remill` by the following command:
[code]

The error message shown below:
[code]
Could please help me solve the problem?

[2020-07-06 03:53] pgoodman commented on #671
Seems like a `-Wno-c11-extensions` is needed somewhere.

[2020-07-06 04:58] adahsuzixin opened #672 "mcsema-dyninst-disass bug report"
Hi team,

I have an independent binary [tested_api.zip](https://github.com/lifting-bits/mcsema/files/4876840/tested_api.zip)  generated from the assembly source code shown below
[code]

But when I used mcsema-dyninst-disass to do the  `Control Flow Recovery`

[code]

The cfg I got was different from the binary.
[code]

[2020-07-06 05:04] adahsuzixin commented on #671
Hi, goodman

I add `-Wno-c11-extensions` when compiling `OffsetTable.cpp.o`, but another problem occured.
[code]
The problem was shown below.
[code]

[2020-07-06 05:10] pgoodman commented on #671
Looks like it's using the `?:` extension. Try adding: `-Wno-gnu-conditional-omitted-operand`

[2020-07-06 05:58] pgoodman commented on #672
Most likely DynInst doesn't support those AVX-512 instructions or mask registers. Neither does Remill, though.

[2020-07-06 06:05] adahsuzixin commented on #671
After adding `-Wno-gnu-conditional-omitted-operand`, there were still `18` errors generated.
[code]

[2020-07-06 06:08] pgoodman commented on #671
I think the best option for now is to find the `#include`s of dyninst and do something like
[code]

[2020-07-06 06:24] adahsuzixin commented on #672
If we use capstone instead, as [PR #638](https://github.com/dyninst/dyninst/pull/638) do(But it seems block in
[aquynh/capstone#1604](https://github.com/aquynh/capstone/pull/1604)), we might solve the probleo of disassembler.

BTW, If we solve the disassembler problem, Is it difficult add support for those `AVX-512` instructions or mask registers in Remill?

[2020-07-06 06:36] adahsuzixin commented on #671
Like this?
[code]

But it didn't help when I compiled `OffsetTable.cpp` alone.
[code]

[2020-07-06 10:28] Aiethel commented on #672
Yup looks like the problem is indeed with those AVX instructions as the function is "cut in the middle". It is no hard obstacle and can be solved, but it would take some unknown amount of time (I already have some ideas).
(Also I have never really tested Dyninst on `.o` instead of fully linked ELF, but it should not play that much role here.)

As for how much work it would be to add to remill, I w

[2020-07-06 10:37] Aiethel commented on #671
Hi, is this still a problem? (I noticed another issue where you seem to be already using the frontend, which kind of implies you already built it)

Also from your most recent post it is not obvious what an error is (those `pragma` looks good)
It would be for the best to move the conversation about this issue to `Empire Hacking Slack` (see mcsema top-level `README`) and solve it there/ I can then u

[2020-07-06 10:37] eix128 opened #673 "MCSema Windows build beta released"
I got windows decompiled beta version.
It has some issue , i will fix it in days.

https://github.com/eix128/MCSemaWindows

[2020-07-06 11:30] adahsuzixin commented on #671
Sorry, I still suffer from this problem.
I added lots of `pragma` in several files, these `pragma`s were added according to the message provided by the compiler.
[code]
BTW, I also added the same `pragma` in `/home/suzixin/trailofbits/remill/scripts/remill-build/tools/mcsema/CFG.pb.cc`.
After that, I run `make mcsema-dyninst-disass` in `remill/scripts/remill-build`, and
[code]

[2020-07-06 11:32] adahsuzixin commented on #671
I was using the frontend before the `api_improvements` commits.
Things went well before.

[2020-07-06 13:51] Aiethel commented on #671
Och, you should have mentioned sooner that you are using the new branch! (I kind of expect people are using `master` unless stated otherwise)
I (maybe we, but mostly I) totally forgot that we did some protobuf changes in that branch that breaks dyninst frontend on compile level. We mostly added opt-in stuff and removed some old things, but the frontend still tries to use them (from your error mess

[2020-07-07 00:56] pgoodman commented on #673
Can you document your process and submit a PR? Ideally we'd like to automate it and do the windows builds in CI with GitHub actions. Unfortunately, most of us don't use Windows machines.

[2020-07-07 03:50] pgoodman commented on #672
Yeah adding AVX512 is likely to be a bunch of work. We could possibly make use of one of those tools that converts the Intel manual to text documents and extracts the code, then programatically translate that to our semantics. There's also some work my Sandeep Dasgupta (@sdasgup3) related to x86-64 semantics, and they might have AVX semantics that we can use for generating things more compatible w

[2020-07-08 08:33] adahsuzixin opened #674 "the License of McSema after depending Anvill"
Hi team,

It's mentioned in [issues/433](https://github.com/lifting-bits/remill/issues/433) that the next major release of McSema depends upon Anvill. From the perspective of software license, McSema will be released under `Apache-2.0 License`,however, Anvill is licensed under the `AGPL-3.0`.

We have some questions about the License of McSema:
1. as the desprition of [1], it seems that **the code

[2020-07-08 15:30] pgoodman commented on #674
We are in the process of merging the api_improvements branch into master, and that represents most of the next big version changes. That branch is already marked AGPLv3. If you would like to discus and license grants or exemptions to McSema then please reach out to opensource@trailofbits.com.

[2020-07-08 15:30] #674 closed

[2020-07-08 23:14] ajaymas opened #675 "Not able to open/see assembly instruction and IR details in the generated 'hello.cfg' and 'hello.bc' file with `mcsema-dyninst-disass' as front-end"
Hello,
I have used mcsema-dyninst-disass as front-end module to generate a CFG (disassembled instruction) file for the 32bit elf binaries using belwo commands.
`$ mcsema-dyninst-disass --binary hello --output hello.cfg`

I could see the `hello.cfg` generated file, but i am not able to open and see the CFG or instruction block information on the generated `hello.cfg`  file ( something like IDA pro

[2020-07-08 23:24] pgoodman commented on #675
The file a Google Protocol Buffer. The format can be found in mcsema/CFG/CFG.proto.

A .bc file is a bitcode file, which is in a binary format. You will need `llvm-dis` to view it.

[2020-07-08 23:24] #675 closed

[2020-07-09 06:26] eix128 commented on #497
check here:
@Trass3r check , https://github.com/eix128/MCSemaWindows

[2020-07-09 10:56] ambuj-dubey opened #676 "Unable to download cxx-common build libraries-llvm900-ubuntu18.04-amd64."
Hi team
I got this error when I was building the mcsema

`curl: (56) OpenSSL SSL_read: SSL_ERROR_SYSCALL, errno 110
[x] Unable to download cxx-common build libraries-llvm900-ubuntu18.04-amd64.
[x] Build aborted.`

I used this following code
`sudo apt-get update
sudo apt-get upgrade

sudo apt-get install \
     git \
     curl \
     cmake \
     python2.7 python-pip python-virtualenv \
     wget \

[2020-07-09 17:52] ajaymas commented on #676
@ambuj-dubey
When you are trying to clone installer.sh in Dyninst using below link, you will be cloning only installer.sh file.
https://github.com/alderson41/dyninst-installer/blob/master/installer.sh

However, in this steps you need to clone both installer.sh and req.tex using below link
https://github.com/alderson41/dyninst-installer

After that copy both installer.sh and req.txt in to dyninst-9

[2020-07-09 17:53] Aiethel commented on #671
@adahsuzixin Hi, I pushed commit that refactors invalid api calls (you should be able to just apply it in order not to lose your `#pragma` changes).

However I was trying to debug why do you encounter those compile flags problems and I am currently stuck, since I have no idea where the `-Werrror` comes from (neither of `mcsema`, `remill` or `anvill` uses it, therefore I am not sure how it ends up

[2020-07-09 18:20] pgoodman commented on #671
@adahsuzixin Please reopen this issue if @Aiethel's updates don't resolve your issues.

[2020-07-09 18:20] #671 closed

[2020-07-09 23:06] ajaymas commented on #675
Hello  @pgoodman
Thanks for your response, I saw the file you have mentioned i.e mcsema/CFG/CFG.proto. If i am not wrong, this is to generate a custom file format on raw CFG file (provided by Ninja or IDA.).
How to see the disassembled instruction or flow graph content of input binary on the generated hello.CFG...?

I have 2 more question:
1. Can we lift LLVM IR from the disassembled assembly inst

[2020-07-10 00:15] pgoodman commented on #675
1) That is not something that we support. There may be ways of doing it, e.g. with remill-lift or anvill-lift.
2) Having a representation like the CFG file lets us have multiple tools produce these files (right now, only IDA Pro and Dyninst), and support lifting from that file format.

[2020-07-10 14:36] ajaymas commented on #675
@pgoodman  I had gone through your first suggested (above) solution using below link.
https://github.com/lifting-bits/remill/blob/master/docs/LIFE_OF_AN_INSTRUCTION.md
I understand `remill_lift` the LLVM IR from the raw machine code instruction.

However, i still need to understand,
1. How this machine code are disassembled pertaining to Remill..?. Is this machine code were presented inside the CF

[2020-07-10 20:25] pgoodman commented on #675
McSema's CFG files contains the raw bytes/data of each loaded segment/section from a binary. This data is imported into a `NativeModule` structure, which extends from an `anvill::Program`. An `anvill::Program` has the notion of an address space and memory maps. This happens here: https://github.com/lifting-bits/mcsema/blob/api_improvements/mcsema/CFG/CFG.cpp#L999-L1005

The CFG file also contains

[2020-07-15 04:44] adahsuzixin commented on #671
@Aiethel Yes, it works now.
Thanks for your effort!

[2020-07-15 19:03] pgoodman opened #677 "Create some McSema tutorials"
It is clearly challenging for people to get up and running with McSema (and Remill), as well as how to use it and the options. Some tutorials that show how to use it, when it will break, how to classify certain types of failures, etc. would be useful.

[2020-07-16 04:50] SangYeoop opened #678 "Lifted memcpy function works strangely"
I am writing some data in foo function as a memcpy
but when i lifted this code, memcpy is writing in place of foo not sub_address_foo

my code is like below

``
void *foo_addr = (void *)foo;
memcpy(foo_addr, some_data, sizeof(some_data));
``

but lifted code is memcpy on foo not sub_address_foo...
I think lifted code should be memcpy to sub_address_foo, not to foo

![image](https://user-images.git

[2020-07-16 04:57] pgoodman commented on #678
Is `foo` meant to be a function? Are you trying to lift self-modifying code?

[2020-07-16 04:58] SangYeoop commented on #678
yes foo is function and i am trying to lift smc

[2020-07-16 05:14] pgoodman commented on #678
So McSema lifts all code twice: once as data, just in case there is data embedded in the code section (often happens with jump tables), and once as lifted bitcode. What is likely happening is that you are getting one of the following:
- a reference to the data containing the original code
- a reference to a wrapper/callback function, which is created when the address of a function is taken in orde

[2020-07-16 05:14] #678 closed

[2020-07-16 05:49] dbwodlf3 opened #679 "undefined reference to `main'"
When use memcpy in main (code section) and it recompile(after lifting), linker error cccurs.
No problem till lifting binary to bc.
[code]

https://gist.github.com/dbwodlf3/328831dda00f341cafb9107ca8da513b/#file-test-c-L15

[2020-07-17 01:18] kumarak commented on #679
IDA may not be able to identify the entrypoint `main`.  It could be merged into the previous function or recovered with a different name (`_main`). Could you check your IDA logs?

[2020-07-17 04:11] dbwodlf3 commented on #679
yes. you right.
[code]

[2020-07-21 15:54] andrasbakos opened #680 "can not build mcsema - mcsema/Arch/X86/Runtime/Runtime.cpp:26:10: fatal error: 'remill/Arch/X86/Runtime/State.h' file not found"
Followed all build instructions (Native Build On Linux) however, the build process failed.
Using a freshly installed Ubuntu 18.04 x64.

Please advise.

Relevant portions of the log:

[+] New install directory is /home/dev/mcsema-ve
[-] Library version is libraries-llvm900-ubuntu18.04-amd64
Fetching: https://github.com/trailofbits/cxx-common/releases/latest/download/libraries-llvm900-ubuntu18.04-am

[2020-07-21 15:57] artemdinaburg commented on #680
Have you tried the Docker based builds? If those build, you can use that instead.

[2020-07-21 15:59] pgoodman commented on #680
This is something we've fixed in `api_improvements` I believe.

[2020-07-21 16:00] andrasbakos commented on #680
Yes, docker started up OK.
I could also run mcsema-lift however, could not run mcsema-disass as it missed python2.7.

[2020-07-21 16:03] artemdinaburg commented on #680
Some suggestions: copy the build from the docker image to the native machine (assuming same OS), or manually run through the steps of the Dockerfile on your local machine.

[2020-07-21 16:07] andrasbakos commented on #680
For the time being it may work ok. Thank you for the tip.

I've found docker images built 16 days ago on docker hub. I assume one may copy the build from those images, too.

[2020-07-21 16:07] artemdinaburg commented on #680
Yep that is correct, they are built by the CI system and should be working builds.

[2020-07-23 06:21] pgoodman commented on #680
Okay, merged api_improvements to master, please retry the master branch. I think the problem described in the title is fixed and that any Python issues are something new, so I'm closing this issue.

[2020-07-23 06:21] #680 closed

[2020-08-11 06:57] KOLANICH opened #686 "Implement and/or lifting of DOS MZ binaries"

[2020-08-11 07:04] artemdinaburg commented on #686
Good question, I have no idea if this would actually work.

[2020-08-14 10:38] marce9 opened #689 "Same error on every Linux build attempt + questions regarding how to use the Docker"
When trying to build on Ubuntu (tried both on 18.04 and 20.04) at some point i'm keep receiving the same error:
![docker installation fail](https://user-images.githubusercontent.com/16627528/90241341-838d5f00-de33-11ea-8a7e-576fa714c608.PNG)

What am I missing? should I run it as root using "sudo -r"? it just keep on failing no matter what I try to do (also tried using Dyninst).
So I tried to use

[2020-08-14 13:29] ekilmer commented on #689
Hello, apologies that the build is causing trouble. We were hoping that the Dockerfile would be an easier way to build McSema with all of its dependencies contained, but it seems more (and updated) documentation is in order.

I've created a PR that will hopefully solve this issue (#690)

For your first issue, the Dockerfile will need to be built with the McSema source code checked out, so just iss

[2020-08-15 00:10] #689 closed

[2020-08-16 19:03] zhuowei opened #691 "mcsema-disass --disassembler dyninst fails on Python 2: "'module' object has no attribute 'run'""
Python 2 [doesn't have](https://docs.python.org/2.7/library/subprocess.html) the `subprocess.run` method, so running `mcsema-disass` with Dyninst fails on Python 2:

https://github.com/lifting-bits/mcsema/blob/2d55d02cc3f5026f15247ce457e36eb045db6ed7/tools/mcsema_disass/__main__.py#L179

To reproduce:

Download prebuilt McSema v3.0.3 (mcsema-llvm1000-ubuntu20.04-amd64.tar.xz) to Ubuntu 20.04, then

[2020-08-16 20:19] pgoodman commented on #691
@zhuowei Can you submit a PR that changes the code to use `subprocess.Popen`?

[2020-08-16 20:21] pgoodman commented on #691
Or perhaps using `subprocess.check_call`, like the IDA entrypoint uses here: https://github.com/lifting-bits/mcsema/blob/6b272184336c11e7246769bbc188880695578bc7/tools/mcsema_disass/ida7/disass.py#L71-L78

[2020-09-17 21:51] MaskRay opened #692 "Support Python 3"
Python 2 has retired now.

[2020-09-25 20:53] TheGreatRambler opened #694 "Convert 64bit LLVM bitcode into 32bit LLVM bitcode"
I am generating LLVM bitcode from a 64bit executable and I would like to recompile it for a 32bit platform. Can I do that, and how would I?

[2020-09-25 22:04] pgoodman commented on #694
Oof, so this is tricky and will be some big discovery process if you're willing to make the investment. The crux of the issue is that pointers are differently sized, and this is most applicably relevant in pointers embedded in the data section. Here's a brief overview of how I'd try to accomplish this:

- First, if your binary is PIE, then use the latest mcsema-disass (IDA only) to `--rebase <offs

[2020-09-26 03:31] TheGreatRambler commented on #694
My goodness, I don't know if I'm ready for a commitment of that size into the internals of this program! I'll probably stick to 64bit targets until I get the resolve to attempt that. Keeping this open if people want to give it a try.

[2020-09-26 03:31] TheGreatRambler commented on #694
I'm new to all of this, just installed LLVM, IDA Pro and Mcsema yesterday.

[2020-09-26 03:38] pgoodman commented on #694
Either way, the `--rebase <offset>` flag in conjunction to mcsema-disass, the `--name_lifted_sections --merge_segments` to mcsema-lift, and `-Wl,--section-start=.section_<hexoffsetr>=0x<hexoffsetr>` to the linker are new additions that improve the reliability of lifted bitcode :-D

[2020-09-26 03:38] #694 closed

[2020-09-26 03:41] pgoodman commented on #694
Empire Hacking has a Slack and I'm usually present there under the name "pag" if you have some questions on how to use things :-)

[2020-09-28 04:04] markgllin opened #695 "support for BinaryNinja in mcsema-disass removed"
using the latest Dockerfile with the changes from the [cmake refactor](https://github.com/lifting-bits/mcsema/pull/693), I've been building the image and packaging it with BinaryNinja successfully. However, as of #666, support for using BinaryNinja with mcsema-disass appears to be removed. Was there a reason for this and are there any plans to add support for it again?

The documentation still ref

[2020-09-28 04:08] pgoodman commented on #695
Hello! Yes we dropped Binary NInja support because it wasn't being actively maintained, and because it had gotten out of date with the cross-reference lifting approach taken in the cmake_refactor branch (since merged to master). Our official supported disassembler is IDA Pro >= 7.0. I will update the documentation to reflect this.

[2020-09-28 04:08] #695 closed

[2020-09-28 04:19] markgllin commented on #695
Thanks for the quick response!

does this mean support for DynInst has also been dropped (or there are plans to)?

[2020-09-28 04:23] pgoodman commented on #695
I think it needs to be thoroughly debugged :-) I think we want to keep it around as it's a good option for open-source users. Ideally, I think we'd eventually want to move to using LLVM's own object file loading APIs and then implement some kind of basic disassembly functionality on top of that.

[2020-09-28 04:25] pgoodman commented on #695
Anyway, feel free to reach out on the Empire Hacking slack channel #binary-lifting.

[2020-09-28 07:37] yujack008 opened #696 "mcsema-disass: command not found"
i build mcsema by native on linux。
but mcsema-disass: command not found

[2020-09-28 09:20] #696 closed

[2020-09-30 19:37] TheGreatRambler opened #697 "Stuck on Recovering Region Rodata"
For the last 3 hours or so I've been stuck on this line:
[code]
The rest of the steps have passed by relatively quickly and I still have 12 gigabytes of RAM left, so I am confused why it would hang here. The binary in question is a 20mb ARMv8 binary. If it makes a difference, Windows reported that only 3 gigabytes of storage were left free on the machine.

[2020-09-30 20:16] TheGreatRambler commented on #697
The command I used:
[code]
I used this raw command because I am using Windows. It's a slightly modified form of https://github.com/lifting-bits/mcsema/issues/673

[2020-09-30 20:32] TheGreatRambler commented on #697
Also, is there a way to continue the function once it has stopped? I have to restart from the beginning when the program hangs, and usually that's 4 or so hours after I start it

[2020-10-02 04:47] TheGreatRambler commented on #697
It did in fact finish. Took many hours and 15 gigs of RAM but it finally finished

[2020-10-02 04:47] #697 closed

[2020-10-03 17:27] zhuowei opened #698 "mcsema-dyninst-disass fails with "missing required fields: is_referenced_by_data""
`mcsema-dyninst-disass` no longer seems to be able to get control flow from executables.

I built `mcsema-dyninst-disass` from Git tag v3.0.4 on Ubuntu 20.04, against Dyninst 9.3.5 and system version of libprotobuf, and I'm getting this error when I try to disassemble a statically compiled i386 Linux executable:

[code]

[2020-10-03 18:48] zhuowei commented on #574
This seems to prevent lifting statically linked Glibc binaries: McSema incorrectly thinks the `.tbss` section overlaps other sections:

[code]

[2020-10-04 11:18] Aiethel commented on #698
Hi, thanks for report!

This issue is well known and there is actually an attempt to fix it in branch `update_dyninst_frontend` which you can try. However I am terribly sorry but I have not been able to do much testing (to be fair I have not had much time for the frontend as a whole lately, which makes me sad but what can we do), therefore it is possible some bugs are introduced.

[2020-10-05 20:07] pgoodman commented on #698
@Aiethel should we PR that branch?

[2020-10-05 20:15] pgoodman commented on #697
Can you share the binary?

[2020-10-06 20:23] artemdinaburg commented on #692
This should be now fixed.

[2020-10-06 20:23] #692 closed

[2020-10-06 20:24] artemdinaburg commented on #676
Closing since it sounds like the comments have been resolved.

[2020-10-06 20:24] #676 closed

[2020-10-06 20:25] artemdinaburg commented on #665
There are now numbered released pushed by the CI system.

[2020-10-06 20:25] #665 closed

[2020-10-06 20:39] artemdinaburg opened #700 "Create virtualenv in Docker containers"
Create virtualenvs in Docker containers used for mcsema to make it easier to install other binary lifting related APIs in one place in a series of derived images.

[2020-10-07 22:22] pgoodman commented on #700
Similar may need to be done in anvill.

[2020-10-15 00:16] TheGreatRambler opened #702 "Please add a Windows workflow"
I've tried for the life of me to compile Mcsema on my computer but my instance of Msys2 conflicts with it at every turn. It would be immensely helpful if there was a github workflow for this. Thank you

[2020-10-15 00:19] pgoodman commented on #702
Would you mind giving the Zig compiler a go and reporting your progress here? My understanding is that it can cross-compile c/c++ codebases.

[2020-10-15 02:03] TheGreatRambler commented on #702
Is it possible to compile Mcsema with Mingw, on the other hand? I tried but faced a few errors that seem like Visual Studio specific compiler features.

[2020-10-15 02:17] pgoodman commented on #702
We will not be supporting mingw. I believe that Microsoft has improved with Clang support. Otherwise I would strongly advise trying Zig.

[2020-10-15 06:23] sorenbug commented on #702
Just for information:

The Zig C compiler can compile:
- From Linux to MinGW
- From Windows to MSVC (_except_ for `windows.h`)

The Zig C++ compiler can only compile natively: Linux to Linux, Msys2 to MinGW, Windows to MSVC. This is something to do with C++'s ABI being unstable? I don't know the full story.

Zig C is just a wrapper around clang. Zig C++ is just a wrapper around clang++.

I'm willi

[2020-10-15 06:26] artemdinaburg commented on #702
Hi! Clang and Visual Studio also now support each other enough that it looks like (at least via some Googling) that you can use clang to build Windows binaries on Linux, assuming you have the requisite Windows libraries available.

See: https://stackoverflow.com/a/46246724 and https://gist.github.com/HiImJulien/3eb47d7d874fe5483810bd77940e74c0 (this one uses WSL2, but same technique should apply t

[2020-10-15 21:12] TheGreatRambler opened #703 "Mcsema requires Clang 9, Msvc requires Clang 10"
Mcsema requires Clang 9 but Msvc requires Clang 10, making it impossible to compile on Windows.

[2020-10-15 23:23] pgoodman commented on #703
McSema can build with Clang 10.

[2020-10-15 23:23] pgoodman commented on #703
Really, McSema works with LLVM >= 5.0, approximately.

[2020-10-16 14:58] TheGreatRambler commented on #703
Great. I've managed to remove MSVC llvm errors by increasing the LLVM version to 10, but I am still encountering countless errors. It seems the Windows building docs are out of date, but at this point I'm giving up.

[2020-10-16 14:58] #703 closed

[2020-10-16 15:01] TheGreatRambler commented on #664
@eix128 Would you be willing to create an update to that build? One error regarding semantics locations was fixed in a recent release.

[2020-10-16 19:00] artemdinaburg commented on #702
hey @sorenbug and @TheGreatRambler can you email me at `artem@trailofbits.com`?

I'd like to help solve Windows support and, ideally, also fix other building and packaging issues with mcsema.

[2020-10-19 17:55] barthch opened #704 "AttributeError: 'CodeReference' object has no attribute 'name'"
I compiled the below example on Windows 10 x64 VM using Clang to a Windows executable.

[code]

Then on my Ubuntu host I ran:
`mcsema-disass --disassembler ~/ida-7.2/idat64 --os windows --arch amd64 --output hello.cfg --binary hello.exe --entrypoint main --log_file hello.log --rebase 5368709120`

The last information in the logfile was:
[code]

I was able to disassemble the executable by changing

[2020-10-22 18:54] the-wondersmith opened #706 "McSema Refuses To Build w/ Remill"
I'm trying to build `mcsema` in my local environment (MacOS 10.14.6). Following the build instructions and running `build.sh` builds and installs a fully functional `remill` instance with no issues. It does *not* however build or even seem to *notice* `mcsema`.

I've tried everything I can think of, including running the relevant make commands by hand in the `mcsema` directories, but I *cannot* ge

[2020-10-24 03:03] pgoodman commented on #706
Hello! I develop McSema primarily using macOS. My process is usually to build cxx-common with llvm 900, then build remill, then anvill, then mcsema.

I believe the issue with build.sh is that we changed how McSema and other Remill tools are built! I didn't realize the lack of support in the build.sh script because I don't normally use it. Indeed, this must have been frustrating for you. I will loo

[2020-10-24 04:48] the-wondersmith commented on #706
@pgoodman You're an absolute hero!

Out of curiosity (and lack of meaningful familiarity with cmake), what can I do to get mcsema to build manually in the mean time?

I've already got remill and anvil to build and install without complaint.

[2020-10-24 05:22] pgoodman commented on #706
If you have Remill and Anvill installed, then try the following:

Lets say you have McSema cloned to `~/src/mcsema`, then go and create an empty directory`~/build/mcsema`. If you used `build.sh`, then you probably have a directory like `/path/to/remill-build/libraries` somewhere. Do the following:

[code]

It should automatically pick up on the installations of Remill and Anvill. Note that Anvill

[2020-10-26 13:53] jeremybeaume opened #708 "Issue with recompilation"
Hi, I'm having issue with mcsema, I'm currently lifting very simple binaries to LLVM, but when I compile them back, it's always a segfault...

So here is what I'm doing ( And the files : [test.zip](https://github.com/lifting-bits/mcsema/files/5439112/test.zip) ):

### Step 1 : compile my test ELF file
I'm compiling test_asm.asm (in the files) with :
[code]
I get a classic amd64 ELF file, `test_asm

[2020-10-26 17:31] #706 closed

[2020-11-05 07:15] pgoodman commented on #708
We have an updated walkthrough in a branch that might be helpful: https://github.com/lifting-bits/mcsema/blob/2d505a0076047a61f837a9ed0c75ea6dbbeb4a09/docs/McSemaWalkthrough.md

That is in the sparc_support branch of McSema, which is compatible with the latest releases of Remill and Anvill. The difference is likely going to be that the walkthrough uses `--explicit_args` and not the actual libmcsem

[2020-11-05 07:16] #704 closed

[2020-11-05 07:16] #661 closed

[2020-11-05 07:19] #582 closed

[2020-11-06 09:39] jeremybeaume commented on #708
Hi, thanks a lot for the answer, I actually managed to get things to work !

[2020-11-06 09:39] #708 closed

[2020-11-11 02:52] the-wondersmith commented on #531
Did anything ever come of this? Is there anything I can do to help it along?

[2020-11-11 06:54] pgoodman commented on #531
Hi @the-wondersmith, here are our current short-to-medium term goals and how you might fit into them:

 - Bring up better cross-reference and control-flow devirtualization (thunks, jump tables) support in [Anvill](https://github.com/lifting-bits/anvill).
 - Once Anvill is able to represent the level of complexity of things needed by McSema, re-implement McSema's [Function.cpp](https://github.com/l

[2020-11-11 20:28] the-wondersmith commented on #531
@pgoodman To be honest, I'd actually much prefer to use BInary Ninja, as I'm primarily a Python programmer. I know that BN support was effectively stripped out of McSema a few PRs ago, I didn't realize that putting it back in was on the agenda.

I suspect I'll be much more useful in that capacity than in working with Ghidra as my Java is... *beyond* rusty.

[2020-11-11 20:33] pgoodman commented on #531
In that case, the other big thing we're trying to do is to get rid of our dependency on protocol buffers and migrate to storing the data we collect into SQLite. We have a [branch](https://github.com/lifting-bits/mcsema/tree/CFG_format_update) that's been making some progress on that front but we haven't had the time in a while to push it forward. That would be a place where we'd value help. The lo

[2020-11-11 20:50] the-wondersmith commented on #531
@pgoodman Now that I can help with. 😁

[2020-11-12 18:19] jibanes opened #711 "Errors building mcsema-print-runtime-x86"
While building mcsema from git on ubuntu 20.04 on x86_64:

[code]
[code]

[2020-11-12 20:10] pgoodman commented on #711
Hrmm I think what I'll do is disable this target. We don't actually use the file being auto-generated there.

[2020-11-12 20:35] pgoodman commented on #711
Closing for now. If it happens again for you please re-open this issue.

[2020-11-12 20:35] #711 closed

[2020-11-13 04:49] jibanes opened #713 "__remill_fpu_exception_test_and_clear"
[code]

What do those generally mean, and how to correct this?

[2020-11-13 04:54] pgoodman commented on #713
It means you will need a runtime. I will add try to add some new bitcode-based runtimes tomorrow to the build and install so that this error goes away.

Basically, the bitcode is using a remill intrinsic to inspect floating point status state, and this function is not actually implemented anywhere (this is by design). When I add it in, I will copy the implementation from here: https://github.com/l

[2020-11-13 04:59] jibanes commented on #713
Right, I see; thank you Peter.

[2020-11-13 05:04] pgoodman commented on #713
This should work for you in the meantime:

[code]

[2020-11-13 17:10] jibanes commented on #713
I will have to doublecheck but I think the issue persists (same missing object at link time); I'm running additional tests.

[2020-11-13 17:50] pgoodman commented on #713
Are you linking this file in? E.g. `clang-9 lifted.bc runtime.cc ...`?

[2020-11-13 18:05] jibanes commented on #713
I just replaced Run.cc with the code above actually, and recompiled.

[2020-11-13 18:09] pgoodman commented on #713
I don't understand; do you mean you replaced the test runner with the code I pasted above? What I meant is that you need to make a new file, lets say `Runtime.cpp`, copy [this code](https://github.com/lifting-bits/mcsema/issues/713#issuecomment-726516707) into it, and then when you're trying to recompile the lifted bitcode, add in `Runtime.cpp` to your compile command.

[2020-11-13 19:13] jibanes commented on #713
Sorry for the confusion Peter.

Here's my complete output:
[code]

[2020-11-13 19:16] pgoodman commented on #713
Ahh! This is one of those annoying issues where `remill-clang` has slightly different include search paths than your system clang/gcc. I'd recommend doing `c++ -x c++ -v -P - </dev/null`, looking at its include search order, and then if you spot something there that's missing from what you see in your previous comment, then add it into your compile command with a `-isystem /path/to/blah`.

[2020-11-13 19:28] jibanes commented on #713
or perhaps it's just missing #include <inttypes.h>

```llvm-link:(.text+0x1a7daa): undefined reference to `sqrt__original'```

I must have had a function in the original binary that was called sqrt; which conflicts with modern versions of libm which define this, do you know how to rename this function at linking time?

[2020-11-13 19:35] pgoodman commented on #713
What happens if you comment out this line: https://github.com/lifting-bits/mcsema/blob/b0f7790f43567e3da5c4bf47235c1c53f73d00d8/mcsema/CFG/CFG.cpp#L1397
:trollface:

[2020-11-13 19:57] jibanes commented on #713
It then produce a lifted binary, which unfortunately segfaults (i386->i386)
What are your recommendations to troubleshoot?
Binary: https://eskimo.com/~jibanes/tmp/binary386

[code]

[2020-11-13 20:14] pgoodman commented on #713
### Approach 1
1) re-run mcsema-lift, with the additional flag `--add_pc_tracer`.
2) re-compile, run it, and as additional output you will get a bunch of printouts.
3) open up your original binary in gdb, lets say like this:

[code]

Then that will print out a whole lot of stuff. Then I copy that output to somewhere, regex out all `^pc=.*` lines, then do a diff between the trace outputted by the l

[2020-11-16 22:14] TheGreatRambler commented on #702
Update: I remembered Docker is a thing and runs on Windows. I set up a Docker system so I can use my Windows machine and it appears to work, but I get this error:
[code]

[2020-11-16 22:14] TheGreatRambler commented on #702
F20201116 22:09:31.365717     6 CFG.cpp:460] Check failed: cfg.ParseFromCodedStream(&cstream) Unable to read module from CFG file games/smm2/config.cfg
*** Check failure stack trace: ***
    @           0x9ed4ec  google::LogMessageFatal::~LogMessageFatal()
    @           0x5dd335  mcsema::ReadProtoBuf()
    @           0x60e306  main
    @     0x7fd9f4a360b3  __libc_start_main
    @           0x5

[2020-11-18 06:32] jibanes commented on #713
Approach 1:
[code]

Approach 2:
[code]

Approach 3:
[code]

[2020-11-18 16:37] pgoodman commented on #713
For approach 1, you can probably change `$eip` to `((uint32_t) $eip)` or `((uint32_t) $pc)`.

[2020-12-03 08:12] losfree opened #715 "What's the code meaning in step2 of "Getting and building the code""
I'd lilke to get it on ubuntu 18.04 by Native Build, but I'm not sure code in step2 which is
`git clone --depth 1 --single-branch --branch master https://github.com/lifting-bits/remill.git`
`..........`
`${TRAILOFBITS_LIBRARIES}/cmake/bin/cmake ../mcsema`
`make`
`make_install`
`popd`

Is it a shell script? If I put it into a shell file,it can not be executed because there are syntax errors. And I

[2020-12-06 13:00] scatterp4 commented on #715
same issue here..
what i did is git clone
then change make_install to make install (that way not needing the functions)
replace the popd pushd with cd commands
how ever i still met other issues after

[2020-12-09 06:46] dbwodlf3 opened #716 "RSP and RBP Registers in mcsema"
store value to -0x18(%rbp). but lifted code that value store by using rsp.
meaning is not different but, it is little bit hard to understand.

at lifted code,
store i64 2133(0x855), i64* %11
%11 = inttoptr i64 %10 to i64*
%10 = add i64 %1, -32
%1 =  load i64, i64* @RSP_2312_56543b0b9068, align 8, !tbaa !1220

it is same 801, 808 instruction.
but that 808 instruction use -0x18(%rbp). i mean that in

[2020-12-09 17:00] pgoodman commented on #716
This isn't a bug. You are observing copy propagation in action; `rbp` is a copy of `rsp` at a point in time, and then later uses of `rbp` end up reflecting this provenance on an old value of `rsp`.

[2020-12-09 17:00] #716 closed

[2020-12-16 15:01] ekilmer commented on #715
Hello! I'm sorry you are encountering issues with building McSema.

We are in the process of changing how dependencies are fetched to hopefully make things easier for native building.

That being said, could I ask you to try this new process?

If you are using Ubuntu 18.04, it should be easy since you can download pre-compiled dependencies. We'll have to start by building both `remill` and `anvill

[2021-01-06 14:19] JulienFarine opened #720 "Unsupported architecture/OS pair: amd64 and windows"
Hello,

I'm trying to lift a Windows 64 bits PE from a Linux host (I use the `trailofbits/mcsema:llvm900-ubuntu18.04-amd64` docker image). The recovery of the CFG file seems to work but when I try to use `mcsema-lift-9.0` I obtain this :
[code]

Is McSema able to lift x64 PE ?

[2021-01-07 00:09] pgoodman commented on #720
Agh! This is actually an issue in Anvill, where we haven't encoded the actual Win64 calling convention details. Are you familiar enough with the Win64 calling convention, as well as C++, to be willing to extend Anvill? I could provide technical support over chat if you are.

[2021-01-19 04:45] TheGreatRambler commented on #702
Any possible fixes on this?

[2021-01-19 23:56] pgoodman commented on #702
@ekilmer any sense on if the vcpkg migration enables Windows builds?

[2021-01-20 00:12] ekilmer commented on #702
Windows build should be hopefully easier now, since vcpkg supports it, but I haven't gotten around to testing yet.

XED might need some changes at least for the build process.

I might have time at the end of the week to test on windows

[2021-01-20 02:04] jchv opened #721 "Docker build fails on Windows due to autocrlf."
Currently, performing

[code]

in a freshly cloned mcsema repository will fail on `Could not find interpreter: bash\r` due to script binfmt being intolerant of carriage returns (and bash is as well, IIRC, so running bash directly instead wouldn't do any good.)

I believe this can be remedied simply by adding

[code]

into a file called `.gitattributes` in the root of the repository, to ensure that

[2021-01-20 03:43] TheGreatRambler commented on #702
I realized I was creating a config on an earlier version of Mcsema and fixed that, but I'm still getting an error, just a new additional one:
[code]

[2021-01-20 03:52] TheGreatRambler commented on #702
Nevermind, I was stupid and dumb. Somehow the config was zero width. It now appears to be working well. Will update if it generated a LLVM file or not.

[2021-01-22 13:13] TheGreatRambler commented on #607
I have a lot of these in my disassembly. Does this mean the program, once recompiled, won't work the same?

[2021-01-22 19:30] pgoodman commented on #607
`--explicit_args` is required to avoid the `TODO` messages in the log.

[2021-01-22 20:51] TheGreatRambler commented on #607
Aha. Added `--explicit-args`. Thank you. I'm surprised I didn't already have that argument enabled.

[2021-01-22 21:03] pgoodman commented on #607
I'm a bit surprised that we lack that semantic, but have all the operands handled. It might be that the semantic is misnamed, or we have a template that could cover it but hasn't been instantiated. This would all be in Remill, mind you.

[2021-01-22 21:05] pgoodman commented on #607
Hrmm....
https://github.com/lifting-bits/remill/blob/master/lib/Arch/AArch64/Semantics/DATAXFER.cpp#L75-L83
https://github.com/lifting-bits/remill/blob/master/lib/Arch/AArch64/Semantics/DATAXFER.cpp#L98

It's possible that we have an error in our semantics related to this instruction, so a best-effort implementation was made but commented out.

[2021-01-22 23:43] TheGreatRambler commented on #607
I suppose because it's somewhat pertient here, there's a number of semantics that aren't detected in mine either. Mine is a plain ARMv8 executable running on the Nintendo Switch ARM Cortex-A57. I know because it's a Switch you might not be able to help, but I could use some input or direction on what the semantics even are:
[code]

[2021-01-23 06:43] artemdinaburg commented on #607
I can fill in a few of these:

`CLREX`: This is marked as a system instruction because thats how it is encoded, but I am not sure if it is actually privileged. It is used for dealing with synchronization primitives that implement atomic access to memory on multiprocessor systems (see the ARMv8A manual section B.9 and B.10).

`STXR`: Also used in implementing synchronization primitives (pairs with

[2021-01-23 17:41] TheGreatRambler commented on #607
Those sound important. Probably means this executable couldn't be recompiled. I would have to implement them then

[2021-01-23 21:25] ekilmer commented on #702
Good news! I've been able to build remill on Windows using vcpkg and cxx-common. See this work-in-progress PR for some rough instructions https://github.com/trailofbits/cxx-common/pull/677

I know there's at least one error with anvill trying to use `which` command to detect Python, and that doesn't work on Windows. I'm sure there are some other gotchas as well. I'll take a look at them later.

[2021-01-25 18:51] victoriaz8 opened #722 "Dockerfile outdated curl url for get-pip.py"
Dockerfile lines 22 and 46: Correct line should be `curl https://bootstrap.pypa.io/2.7/get-pip.py` because `curl https://bootstrap.pypa.io/get-pip.py` fails with the error below:
[code]

According to [this post, ](https://stackoverflow.com/a/65866547) "The correct get-pip.py file for python2 has been moved to https://bootstrap.pypa.io/2.7/get-pip.py"

[2021-01-26 17:15] artemdinaburg commented on #722
Thanks for pointing this out; we'll fix it.

[2021-01-26 17:40] #722 closed

[2021-01-26 19:15] pgoodman opened #724 "Remove Python 2.7 support entirely."
This includes:
 - Fixing up the setup.py and scripts wrapping it to simply never dispatch for Python 2.x.
 - Upstream fixes to remove Python 2.x support in Anvill.

[2021-02-02 01:05] Mohannadcse opened #725 "Building docker image on ubuntu 18.04"
I'm trying to build the docker image using the provided instructions

I'm using the following ubuntu machine (I used this command `uname -a`)
[code]

I executed the following command

[code]
The building started correctly, but received an error and here is the entire terminal log.
[code]

[2021-02-02 18:49] pgoodman commented on #725
It seems like you have an older version of remill, or that we're missing an include in that particular file. Let's hope for the latter. Can you try adding: `#include <remill/Arch/Arch.h>` and `#include <remill/Arch/Name.h>` at the top of `mcsema/BC/Callback.cpp` and report back on if it fixes the errors or not?

[2021-02-04 19:53] Mohannadcse commented on #725
Both header files are included in `mcsema/BC/Callback.cpp` as shown below.

![image](https://user-images.githubusercontent.com/15859139/106947601-34dcc580-66f0-11eb-9653-c08f8628747b.png)

[2021-02-08 02:56] Mohannadcse commented on #725
Which `remill` version should be installed?

[2021-02-11 21:50] ekilmer opened #728 "Cannot build with LLVM 11"
Currently, we can only get Windows builds and tests working for remill and anvill with LLVM 11, so supporting LLVM 11 in McSema would be ideal to integrate Windows into McSema's CI.

I get the following errors when trying to build with LLVM 11
[code]

[2021-02-13 16:22] #728 closed

[2021-02-13 18:58] FredyR4zox opened #730 "Unable to run docker image"
Hello,

I am unable to run McSema in the docker image:

[code]

[code]

Is it a bug or am i doing something wrong?
Shouldn't the docker image be ready to run. Only needing to mount the IDA directory and specify the IDA_PATH variable?

[2021-02-13 22:01] ekilmer commented on #730
Hello, there is indeed an issue with the Docker image not having Python3 installed. Only the Python2 version of the script works by default from the image. Since that was implemented, Python2 is now definitely EOL, and we should at least use the Python3 version by default. I can work on a fix for this and update this issue when the PR is made.

In the meantime, if you install Python3 manually with

[2021-02-13 22:37] FredyR4zox commented on #730
It worked, thank you :)

[2021-02-15 19:08] #730 closed

[2021-02-16 19:46] FredyR4zox opened #732 "Can't use mcsema-disass"
Hi,

I downloaded mcsema-llvm1100-ubuntu20.04-amd64.tar.xz from the tag v3.0.19 but don't matter what i do, mcsema-disass just wont run neither give me an error log. The  file "log_file" isn't created.

Am i doing something wrong?

[code]

[2021-02-16 19:50] pgoodman commented on #732
Can you try the following, which will open up IDA's TUI mode:

[code]

And report back on if you see any stack traces printed out? Otherwise, if this mode works for you then just use it :-)

[2021-02-16 20:02] FredyR4zox commented on #732
It opens up IDA's normally. When loading the binary it complains about the package google not being installed but it shows the assembly code of the binary.
Still, no CFG or log is printed :/

[2021-02-16 21:25] ekilmer commented on #732
Oh, I think this is another Python packaging error... Can you try
[code]

[2021-02-16 21:46] FredyR4zox commented on #732
![image](https://user-images.githubusercontent.com/6351888/108125509-73836000-70a0-11eb-9e0c-eed563a0ee7f.png)

[2021-02-16 21:53] ekilmer commented on #732
It looks like it can't find the Python `protobuf` module. Is `protobuf==3.2.0` installed? Are you able to successfully execute the following?
[code]

[2021-02-16 22:02] FredyR4zox commented on #732
My bad. I had installed protobuf on python on my system and not on wine python :/

Thank you very much :)

[2021-02-16 22:11] FredyR4zox commented on #732
Is this normal btw?

![image](https://user-images.githubusercontent.com/6351888/108127950-f2c66300-70a3-11eb-8354-13a59fa33367.png)

[2021-02-16 22:19] pgoodman commented on #732
See `--help`, there should be an option to specify a semantics bitcode path or lookup directory.

[2021-02-16 22:20] #732 closed

[2021-02-19 02:53] ekilmer commented on #724
Partially done in this commit https://github.com/lifting-bits/mcsema/commit/c54f84a44b8cd67a2a1e8d4e8b10a7b9f44de0ff but could use a more thorough cleaning before this issue is closed

[2021-02-20 19:21] FredyR4zox opened #735 "mcsema-lift crash (Segmentation fault)"
Hi,

When using mcsema-lift, I get an segmentation fault.
Docker image: https://hub.docker.com/layers/trailofbits/mcsema/llvm1100-ubuntu20.04-amd64/images/sha256-50e3e04fdcce8e83ea801542dcf7fdd902306674028a829ab0dcaa0161a07a72?context=explore

File: test3.c
[code]

[code]

This is very weird since it is a simple program.

The zip file attached has all the files. The .c file, the compiled program,

[2021-02-27 16:18] xiaoyong-z commented on #640
i have the same problem, did you run successfully with Dyninst disassembler?

[2021-02-27 16:19] xiaoyong-z commented on #640
or if there is a script demo for Dyninst version?

[2021-02-27 16:46] dbwodlf3 commented on #640
nope.. but i have some examples run by ida.
I think it is best to use ida as cfg recoveror.

[2021-03-02 04:53] xiaoyong-z opened #737 "Can not find the generated bc file by mcsema-lift-11.0.exe(windows)"
Hello, I build mcsema successfully on windows based on [trailofbits/cxx-common#677](https://github.com/trailofbits/cxx-common/pull/677). And now I can generate the cfg correctly. However, when i use mcsema-lift-11.0.exe to generate the bc file. I can not find the bc file. It seems that the lift program run successfull.
![图片](https://user-images.githubusercontent.com/31178013/109599436-25696480-7b5

[2021-03-02 05:04] xiaoyong-z commented on #653
hello, recently i build mcsema successfully on windows, but i can not lift cfg to bc using mcsema-lift-11.0.
Can you do this on windows?

[2021-03-02 13:01] xiaoyong-z commented on #735
i alse have this problem, did you fix it?

[2021-03-02 13:02] xiaoyong-z commented on #735
i have the same problem, did you fix it?

[2021-03-02 14:29] FredyR4zox commented on #735
@xiaoyong-z Unfortunately no :/
How are you using it? With IDA in TUI mode, just like me?

[2021-03-02 16:00] SaifRushdHadad opened #738 "WSLv1 + Windows IDA Pro Path Issues"
To my understanding: the documentation for building `McSema` on windows natively is out of date, no documentation about cross compilation, and no precompiled windows binaries. I have a Windows IDA Pro license and am running `McSema` (`v3.0.22`) on WSLv1. Issues arise due to the `mcsema-disass-3` script passing arguments to IDA Pro that contain 'Linux format' paths.

1.  `mcsema-disass-3` passes th

[2021-03-02 17:09] xiaoyong-z commented on #735
well,  i use IDA the same way like you.
And just now i used llvm-9 to build another version of mcsema-lift(mcsema-lift-9), it works for me, i can use it to lift cfg to llvm bytecode.
I still have no idea why mcsema-lift-11.0 not works, but i think mcsema-lift-9 is worth a try.

[2021-03-02 20:38] ekilmer commented on #735
Hello. Apologies for the late response and segfault on LLVM-11. LLVM-11 support for McSema is new and hasn't gone through any sort of meaningful testing on CI (our fault).

I'm trying to figure it out right now and I have some work-in-progress branches for `remill` (https://github.com/lifting-bits/remill/pull/495) and `mcsema` (https://github.com/lifting-bits/mcsema/pull/739) to try and resolve th

[2021-03-02 23:42] ekilmer commented on #735
I think this should be fixed now on `master` branch, and I can lift your example without failure. Could you please confirm?

[code]

[2021-03-03 20:20] pgoodman commented on #737
Is `C:\Users\tinySean\Desktop\a.bc` not a bitcode file?

[2021-03-04 11:27] FredyR4zox commented on #735
I cloned the updated master branch and built the docker image. (Before this step i deleted all my docker images).
Still, it is giving me the same error on the same line :/

[2021-03-04 15:29] xiaoyong-z commented on #737
Thanks for your comment.
I rebuild mcsema on linux, and now it works.

[2021-03-04 15:29] #737 closed

[2021-03-04 15:39] ekilmer commented on #735
Oof. Apologies again 😬 . Currently, the Docker images are no longer faithfully pulling the latest remill and anvill correctly. This is an issue with the recent changes made to remill and anvill since they no longer produce the old Docker images that the McSema Docker image relies on.

I will work on fixing the Docker image to build everything from source using the new vcpkg method later today.

If

[2021-03-04 19:15] FredyR4zox commented on #735
Makes sense then :)

I tried with LLVM 9 and LLVM 10 versions from docker hub and it worked perfectly. Thank you.

But i have another problem. Which is when running the lifted code with KLEE.
I tried the Maze example in https://github.com/lifting-bits/mcsema/tree/master/examples/Maze and downloaded the CFG maze.amd64.cfg from the example folder (just to make sure the problem wasn't with my IDA Pro

[2021-03-04 19:27] SaifRushdHadad opened #740 "Unable to Uplift x86 PE: Check failed 'seg_type' Must be non NULL"
I am getting the error `Check failed: 'seg_type' Must be non NULL` when trying to uplift a x86 PE skeleton helloworld file. I am not sure if it is my install, based on the documentation McSema should fully support x86 PEs, I was wondering if there is a test suite corpus that is available that I could test my installation against?

Tool versioning:
* McSema v3.0.23 LLVM 10 - Ubuntu 18.04
* IDA Pro

[2021-03-04 23:06] ekilmer commented on #735
Hmmm I'm not exactly sure, regarding the KLEE question. I think @pgoodman might have a better idea.

@FredyR4zox I have an open PR here https://github.com/lifting-bits/mcsema/pull/741 that tries to fix the LLVM 11 Docker image. Would you be able to test out that branch?

[2021-03-04 23:31] FredyR4zox commented on #735
Thank you, I will test it until the end of tomorrow.
I can't use the docker to build it right? Because of the problems you listed above

[2021-03-04 23:34] ekilmer commented on #735
You should be able to do something like
[code]
in that branch and then I was able to run the following a zero return code

[code]

[2021-03-05 02:05] pgoodman commented on #735
Is the call to `__gmon_start__` the issue? That is a function to initialize gprof profiling. We declare it somewhere in mcsema just so that its prototype is available. It is possible that our declaration is slightly wrong. It is usually a weakly-defined symbol.

[2021-03-05 21:56] ekilmer commented on #735
@FredyR4zox now that #741 is merged, pulling the docker image _should work_ now.

[code]

Note the lack of trailing `00` in the image name for `llvm11`

[2021-03-06 15:20] FredyR4zox commented on #735
@ekilmer In the docker image trailofbits/mcsema:llvm11-ubuntu20.04-amd64, iIinstalled wine to be able to run IDA Pro with python from windows (I have IDA Pro for windows). When I ran IDA Pro in TUI mode to disassemble the binary, at the end it gave the following error: AttributeError: module 'google.protobuf.descriptor' has no attribute '_internal_create_key'. I search for the error and the soluti

[2021-03-08 15:04] ekilmer commented on #735
🎉  We should remove the exact version pin for the Python tool and either set no version constraints or at least constrain it to version 3.

[2021-03-24 04:21] xrkk opened #743 "Building in WSLv1 hangs at CPackRPM:"
WSLv1 with Ubuntu 20.04, building follow instructions, and hangs at command `./remill/scripts/build.sh --llvm-version 9 --download-dir ./`.
Last logs:
[code]

Any suggestions?

[2021-03-24 11:19] alessandrogario commented on #743
Hello @xrkk

thanks for the bug report! The packages are not really required to build mcsema, so as a quick workaround you could comment out the `Package` function in the remill build script.

It does seem like the packaging is causing the script to get stuck; in order to troubleshoot this, we could try to restart the packaging procedure manually so that we can increase verbosity of the CPack buil

[2021-03-24 23:13] xrkk commented on #743
Comment out `Package` function in remill build script does making building process pass. Thank you.
When run `cpack --trace-expand -D REMILL_DATA_PATH=remill_install -R 1.0.0 --config remill/packaging/main.cmake --debug`, last output:
[code]
Still hangs. (I executed above command right after `Step 2` provided in the Readme).

[2021-03-25 08:57] alessandrogario commented on #743
Hello @xrkk

thanks for testing this! It does seem to be a problem related to the `rpmbuild` execution. Is there anything of value logged into the stderr and stdout files?

[2021-03-25 15:12] EmmaJaneBonestell opened #744 "Build fails with latest Anvill version"
McSema build now fails with the latest Anvill version due to changed headers, etc.

mcsema/BC/Callback.cpp #include <anvill/Lift.h> now appears to be <anvill/Lifters/DeclLifter.h>

root/b/mcsema/mcsema/BC/Optimize.cpp fails to compile as well. The Anvill Analyze.h implementation appears to be refactored since XrefExprFolder no longer exists anywhere.

It doesn't appear that the latest Anvill versi

[2021-03-25 23:07] xrkk commented on #743
Full stdout list:
https://gist.github.com/xrkk/9703a4b9d309363cc13f1fba8dad461d

I searched stdout for keyword `error` and found last line: `CPACK_RPMBUILD_EXEC_RESULT ERROR_FILE /home/xxx/mcsema/_CPack_Packages/RPM/rpmbuildremill.err OUTPUT_FILE /home/xxx/mcsema/_CPack_Packages/RPM/rpmbuildremill.out )`, but both `rpmbuildremill.err` and `rpmbuildremill.out` are empty files with no content.
And 5

[2021-04-01 01:37] pgoodman commented on #744
I'm not sure on a timeline for us updating McSema to build against the master branch. There are number of things we'd like to see land in Anvill first.

[2021-04-01 19:38] #744 closed

[2021-04-03 15:37] NickTsl opened #746 "build on windows error"
Hello, I've been trying to build this Mcsema project for the past few days, and I am struggling with step 5. This is the error I get with CMake:

[code]

What do I put into CMakeLists.txt?
Also, I would greatly appreciate it if mcsema prebuilt binaries for windows were uploaded to this repository.

Thank you in advance.

[2021-04-03 17:27] ekilmer commented on #746
Hello. We have switched to use vcpkg to manage and build our dependencies, so `CXX_COMMON_REPOSITORY_ROOT` probably isn't doing what you think it's doing.

We also have not found the time to prioritize officially testing and maintaining Windows support (in this repo), however the updated [cxx-common repo](https://github.com/trailofbits/cxx-common) has some best-effort testing for some pinned versi

[2021-04-03 17:34] ekilmer commented on #746
I also just realized that the steps in the README are outdated. I will test the above directions locally and make a PR to update them. Apologies!

[2021-04-03 18:53] NickTsl commented on #746
Just curious, are you able to upload prebuilt binaries for testing on windows? There are many configuration, cmake, and dependency setup steps that I  am not familiar with.

[2021-04-08 13:59] Brubbish commented on #735
@FredyR4zox how do you run mcsema_disass with IDA Pro in wine? I tried the command like this :
[code]
while the wine&idat64.exe is running, it still cannot generate .cfg (it feels like they are looping), I don't know if it has anything to do with my IDA7.2 and python2.7

[2021-04-10 13:39] FredyR4zox commented on #735
@Brubbish Can you try and change WINEPREFIX=/home/bruce/.wine to WINEPREFIX=/home/bruce/.wine64 ?

[2021-04-10 16:31] oxygen-hunter opened #747 "can't use mcsema-disass"
sorry to bother.
I built mcsema on ubuntu18.04, installed ida-7.0, python3.6.9, llvm-11. When I use command
[code]

the result is

[code]

I followed the guide in https://github.com/lifting-bits/mcsema/issues/732
When I use command

[code]

IDA gives me the error below, but shows the decompile code right
![ida error picture](https://github.com/oxygen-hunter/PicGo/blob/master/img/image-202104102353

[2021-04-11 06:22] oxygen-hunter commented on #747
ok, I‘ve solved it. Update protobuf for python2 by use command
[code]

cfg generated successfully

[2021-04-11 12:51] Brubbish commented on #735
thanks, it somehow really works.

[2021-04-11 13:19] Brubbish commented on #747
@oxygen-hunter hi, could you share an ida 7.0 for linux if you are using leaked one, I think something went wrong when my ida.exe running in wine.

[2021-04-11 15:48] pgoodman commented on #747
@Brubbish please do not discuss pirating IDA Pro on our issue tracker. Also, we do not support IDA 7.0. Our minimum supported version is no less than 7.1, I think, and ideally, no less than 7.5.

[2021-04-12 11:22] Brubbish commented on #747
@pgoodman I'm so sorry for my last comment.
Also, I used ida 7.2 and python 2.7 in wine 6.0 on my Ubuntu20. While it generated the .cfg file without any errors (maze example), I found their md5 values are different from the md5 values of .cfg files that you provided. I have no idea where goes wrong.
BTW, I'm wondering if Ghidra is available for making a .cfg file now.

[2021-04-15 15:57] Brubbish opened #748 "Cannot generate .cfg correctly"
Hi, I ran macsema-disass-3.8 with the command:
[code]
to test the Maze example
While the .cfg file was generated without any errors, the file I generated has a different md5 from yours, also, my .cfg files' md5s are different while I use different versions of Python.
![image](https://user-images.githubusercontent.com/29673689/114897600-faa44880-9e43-11eb-9185-a0a11df702eb.png)
I don't know if it i

[2021-04-22 23:52] jfmherokiller commented on #686
I like this idea because it would possibly allow for patches to be made to old dos games to make them better support dosbox

[2021-04-23 03:34] pgoodman commented on #686
What is the architectures of these binaries?

[2021-04-23 04:00] KOLANICH commented on #686
i386

[2021-04-23 04:05] pgoodman commented on #686
@KOLANICH are features such as self-modifying code or sort-of JITing via executable stacks prevalent?

[2021-04-23 04:37] KOLANICH commented on #686
I don't think so, but cannot exclude that.

[2021-04-23 09:34] turol commented on #686
@pgoodman Yes they are since DOS didn't have any memory protection and the old CPUs sometimes required such trickery to be fast enough, especially in games. Also a "DOS" executable can be a 16-bit executable or one of several kinds of 32-bit executables with a 32-bit extender attached.

[2021-04-26 05:50] lxyAnnie opened #749 "docker build error"
First, I tried to pull from trailofbits/mcsema:llvm1000-ubuntu18.04-amd64 and came across the problem when using mcsema-disass:
![image](https://user-images.githubusercontent.com/32814917/116034446-dcd1b180-a695-11eb-9684-25a0f55291ec.png)
![image](https://user-images.githubusercontent.com/32814917/116034350-b875d500-a695-11eb-9e1c-45724c297cf3.png)
Then I tried to git from the repository and dock

[2021-05-05 18:29] mnoga23 opened #750 "Native MacOS build failure"
Docker build worked but building mcsema on a mac natively has some issues.

Mac with Intel x86_64
OS: Catalina 10.15.7
[code]

Following steps were executed modifying the instruction, because it seemed outdated.
### Virtual Env
[code]

### Preparation
[code]
### Remill
Here i modified ./remill/scripts/build.sh to support llvm 12, added following lines inside **GetLLVMVersion**:
[code]

And execute

[2021-05-05 19:02] ekilmer commented on #750
Do you _require_ LLVM 12? Can you try building with LLVM 11?

We currently don't test LLVM 12 in CI, and judging from your errors, it seems there are some incompatibilities with that version in anvill.

[2021-05-05 19:14] mnoga23 commented on #750
do i need to downgrade to llvm11 or should I just try same commands but with --llvm-version 11?
mac currently has 12.

[2021-05-05 19:19] ekilmer commented on #750
We need to build with LLVM 11 as a dependency, the compiler version you set with `export CC="$(which clang)"
export CXX="$(which clang++)"` is fine.

Try the same commands with `--llvm-version 11` in the remill script

[2021-05-06 06:23] mnoga23 commented on #750
Yes that worked with LLVM11 installed from brew with `brew install llvm@11.`
I updated `$PATH` to put llvm-11 location first and did `export CC="$(which clang)" export CXX="$(which clang++)"`. Everything else was exactly as per the instruction. No errors this time. If someone needs a reference.

Now i am looking at dyninst but I don't think that can be built on macos due to missing **thread-db** f

[2021-05-06 19:13] mnoga23 commented on #750
I will close the issue for now. @ekilmer thank you for help.

[2021-05-06 19:13] #750 closed

[2021-05-06 19:20] mnoga23 commented on #749
docker basically complicates the whole process for referencing local disk drive
check these options:
`-v "${PWD}":/home/user/local` - this mounts current directory into docker container at /home/user/local
so if you have **putty.exe** in current directory from which docker is executed you can use
`--binary /home/user/local/putty.exe`

[2021-05-13 01:05] qiqingh opened #751 "Native MacOS build failure"
Similar to issue [https://github.com/lifting-bits/mcsema/issues/750](url)

But when I am trying to native build mcsema on macOS it failed.  I used the llvm@11 instead of 12

Mac with Intel x86_64
OS: Big Sur 11.2.3
[code]
I executed the preparation as below:
[code]
And then when I execute the below remill build script, it prompts errors when building:
[code]

![image](https://user-images.githubuse

[2021-05-13 08:00] mnoga23 commented on #751
I don't think your compiler is picked up correctly. I have actually managed to compile it on a macos natively in the end, never have seen an error like you describe. For reference my issue was with using LLV12 https://github.com/lifting-bits/mcsema/issues/750, downgrading to llvm@11 worked fine.
Maybe after installing you just need to open new terminal session for the env variables to be picked up

[2021-05-13 08:09] qiqingh commented on #751
@mnoga23 Thanks for letting me know. I tried to open a new terminal and source the ~/.bash_profile but still meet with these errors.

I think maybe it is because of the difference between our OS versions.

[2021-05-13 10:23] mnoga23 commented on #751
for reference, i compiled it on Catalina 10.15.7. I also compiled it on Windows but couldn't run it - some issue with invoking IDA. need to look at dyninst but that's only going to work on Linux or Windows due to dependencies.

For your error, try searching for some solutions with **xcode-select** - I am not an expert but it looks like headers from MacOS are not picked up.

[2021-05-13 10:35] lkorenc commented on #751
The error looks really similar to what happens when your sdk versions mismatch (after you update xcode and still try to use old configuration of cmake).

@mnoga23 dyninst frontend was not updated in a while, so you may need to update some parts of it (feel free to open issue about it if it does not work) - also I really ever tested it only on Linux.

[2021-05-13 13:08] ekilmer commented on #751
Interesting idea. If the above is true, then that means we might need to add back building with MacOS 11 to the CI builds of cxx-common and/or update the XCode versions again. I'll do some testing to determine what is happening on MacOS 11.

@qiqingh Could you try removing the following lines from the remill build script and rerunning? I believe this will fix it https://github.com/lifting-bits/rem

[2021-05-13 13:31] ekilmer commented on #751
I can reproduce this when trying to use the cxx-common clang compilers.

I think I broke this in a recent release of cxx-common, but apparently it's only broken for MacOS 11 🤔  (We removed testing for MacOS 11 because the GitHub Actions weren't running reliably 😞 )

Anyway, after diffing the verbose output from using cxx-common `clang` vs. Homebrew `clang`, the cxx-common clang includes the follow

[2021-05-13 15:51] ekilmer commented on #751
I think I found it after looking at Homebrew's patches here https://github.com/Homebrew/homebrew-core/blob/19ba11fa44a434be07a1304f7da630d1acfaa6d0/Formula/llvm%4011.rb#L79-L83

Which is this patch in LLVM https://github.com/llvm/llvm-project/commit/a3a24316087d0e1b4db0b8fee19cdee8b7968032.patch?full_index=1

Working on a patch to LLVMs in cxx-common

[2021-05-14 03:19] qiqingh commented on #751
@ekilmer thanks a lot for your information and detailed analysis!

I removed below two lines from remill build.sh but still meet with the same errors.

https://github.com/lifting-bits/remill/blob/7311c6a89f75a3aa00c129c10f4570723a2db311/scripts/build.sh#L236-L237

And may I ask where shall I remove the below line?

[code]

[2021-05-14 13:21] ekilmer commented on #751
(Potential workaround at the bottom of this post)

Hrmmm. I could have sworn removing those lines worked, but I tried it locally as well and got the same errors. Apologies.

I think this might be totally broken on fully updated MacOS and only fixable in older versions of LLVM with the patch described here https://github.com/lifting-bits/mcsema/issues/751#issuecomment-840653400

This line comes fro

[2021-05-14 15:07] qiqingh commented on #751
@ekilmer It works, thanks a lot!!

[2021-05-14 19:40] qiqingh commented on #751
@ekilmer Really sorry to bother you again.

The remill now can be built successfully,  but when further building the anvill and mcsema, it prompts below error:

![image](https://user-images.githubusercontent.com/62452864/118320610-7e486800-b4ca-11eb-8f91-306e31015223.png)

I do the below commands again but still, it could not find compiler set in environment variable CC

[code]

[2021-05-14 20:01] ekilmer commented on #751
Hmmmm. This seems like a development environment issue. I would open a new terminal and check to make sure that no compiler environment variables are set.

Were you able to install remill? If not, go to remill's build directory and run `cmake --build . --target install`. Note where remill is installed.

Then, let's start over again with anvill. Delete `anvill-build` directory and recreate it so we

[2021-05-14 20:16] qiqingh commented on #751
@ekilmer Thanks for your quick reply!

I am able to install remill.
I start over with anvill following your instruction, from  the fresh anvill-build directory, I run the following command but still meet with the same error
[code]
![image](https://user-images.githubusercontent.com/62452864/118324155-a8e8ef80-b4cf-11eb-85ba-b318b57e7ba2.png)

[2021-05-14 20:35] ekilmer commented on #751
That's very weird. I can't remember seeing this kind of error.

Does the following help at all?
[code]

Does `echo $CC $CXX` print anything?

Can you compile other programs with CMake from the same terminal?

Does `env` show anything that looks suspicious to you that would affect compilations?

🤔

[2021-05-14 21:39] qiqingh commented on #751
@ekilmer The env includes the CC and CXX but somehow when I use the cmake it didn't find the CC and CXX

I found it can be solved by run the below command:

[code]

And then the anvill can be built and installed successfully:)

[2021-05-14 22:22] qiqingh commented on #751
@ekilmer
And then I go to the last part of building mcsema. The building process goes well, but when I try to install the mcasema with the below command:
[code]
It prompts the below error:

![image](https://user-images.githubusercontent.com/62452864/118336956-bd81b380-b4e0-11eb-9bc2-85481ea43128.png)

I remove everything from mcase-ve (parent folder) and redo every step from very beginning, but it

[2021-05-15 07:34] qiqingh commented on #751
protobuf version mismatch solved by removing brew's protobuf

[2021-05-15 07:34] #751 closed

[2021-05-20 13:22] LingjieLi commented on #747
@pgoodman in IDA7.6 idat64 change to ida64，mcsema-disass maybe don't support ida7.6，mcsema-disaaa don't support Batch Mode and require display.

I use command:
mcsema-disass --disassembler /opt/idafree-7.6/ida64 --os linux --arch amd64 --output ./output --binary ./a.out --entrypoint main --log_file ./log

returns:
QXcbConnection: Could not connect to display
Aborted
Traceback (most recent call las

[2021-05-22 21:42] pgoodman commented on #747
Does idafree support batch mode?

[2021-05-24 08:17] LingjieLi commented on #747
idafree does not support batch mode? And，Does IDA only work in batch mode?

[2021-05-27 14:55] ekilmer opened #753 "Failing test `prebuilt_cfg/x86/linux/cfg/hello_world` with aarch64 build/host"
In testing on `cxx-common` repo and LLVM 11, I get the following failure on the aarch64 host:
[code]

The related `amd64` passes without failure (not sure if output is correct, though)

Will update with link to logs and remill,anvill dependencies

[2021-05-28 02:42] LingjieLi commented on #672
@adahsuzixin  hello ,which dyninst version you used, please？

[2021-05-28 14:07] zyt755 opened #754 "Cannot run mcsema-disass no module named google.protobuf.internal"
Hi, guys, I compiled a simple C file that prints "hello" and fed it to 'mcsema-disass' to generate .cfg file.

`mcsema-disass --disassembler /home/llvm/ida-7.2/idat64 --os linux --arch amd64 --output ./ --binary hello --entrypoint main --log_file ./hello.log`

The error message is
`Traceback (most recent call last):
  File "/home/llvm/.virtualenvs/mcsema/lib/python3.8/site-packages/mcsema_disass/i

[2021-05-28 14:10] zyt755 commented on #754
But I can import google.protobuf.internal in the same python environment.

![image](https://user-images.githubusercontent.com/33893218/119996560-74158600-c001-11eb-8669-8db366c5238f.png)

[2021-05-28 14:25] ekilmer commented on #754
I personally don't have IDA to test this, but I think what's going on is that the IDA Python interpreter cannot find your virtualenv packages.

This is a bit of a kludge, but could you try running
[code]
in the same terminal before running IDA from that terminal?

[2021-05-28 15:48] zyt755 commented on #754
Thank you very much.
I tried but it does not work...

[2021-05-29 08:13] zyt755 commented on #754
I fixed this issue.
IDA 7.2 use python2 and it needs the protobuf of python2...

[2021-05-29 08:13] #754 closed

[2021-07-27 13:02] Frankenstein-bit opened #755 "variable recovery"
I try to figure out how mcsema recovery variable info,but i do not find any formal document.
how mcsema recovey array,struct and so on?
or mcsema just translate the assembly to llvm ir，ignore other things?
I'm confused looking forward to someone's help

[2021-08-02 08:10] Frankenstein-bit commented on #738
hi,have you solved the problem?

[2021-08-09 07:52] Frankenstein-bit opened #757 "alias analysis？"
how mcsema implement alias analysis

[2021-08-10 02:13] Frankenstein-bit commented on #91
hi,how is the current state about memory access ?

[2021-08-10 21:53] pgoodman commented on #757
It doesn't really. At most, it does it on registers stored in the state structure, as that in-memory data structure is guaranteed not to alias anything in the real program. That analysis is described in [this blog post](https://blog.trailofbits.com/2018/07/06/optimizing-lifted-bitcode-with-dead-store-elimination/).

[2021-08-10 21:53] #757 closed

[2021-08-16 07:59] thatreguy opened #758 "Docker build error"
[code]

[2021-08-16 13:46] ekilmer commented on #758
Hello. Unfortunately, the README was not updated when we changed the LLVM versioning name scheme. Please use an LLVM version of `9` or higher. Valid LLVM versions are `9`, `10`, and `11`, as tested by our CI here https://github.com/lifting-bits/mcsema/blob/b8621d9a0ac1e3fd17079b82ee5debd07dfc5456/.github/workflows/vcpkg_ci.yml#L19-L23

[2021-08-16 16:42] #758 closed

[2021-08-17 08:49] thatreguy opened #760 "dyninst is not gettting built on Linux"
Passing --dyninst-frontend to ./remill/scripts/build.sh during building phase(https://github.com/lifting-bits/mcsema#step-2-clone-the-repository-and-its-dependencies) is not building the dyninst disassembler.

[2021-08-23 08:51] lkorenc commented on #760
I cannot help unless you give more detail about what is not working (ideally including the steps you have done).

[2021-08-23 11:37] thatreguy commented on #760
Passing --dyninst-frontend flag to build.sh does not build the dyninst tool
https://github.com/lifting-bits/mcsema#step-2-clone-the-repository-and-its-dependencies
[code]

[2021-08-23 11:55] lkorenc commented on #760
But it is supposed to build **dyninst frontend**, **dyninst** itself must be compiled separately.

[2021-08-23 12:30] thatreguy commented on #760
Even the frontend does not get built. I think the arg BUILD_MCSEMA_DYNINST_DISASS set by remill's build.sh script does not get passed to mcsema's cmake.

[2021-08-24 08:52] thatreguy opened #761 "Segfault while running lifted binary"
[code]
![image](https://user-images.githubusercontent.com/44264798/130587367-654f90b9-7f90-43c7-84ed-084c329214c0.png)

[2021-08-24 10:15] ioncodes commented on #761
This looks oddly close to all the issues I was facing when lifting binaries (or when I instrument them and try to compile them back). Curious to see if a solution can be found.